[2016-03-05 12:22] rse opened #2 "Let the listening host/address to be configured"
I've seen that you are just supporting the configuration of a listening port, but not of the host/address. If one wants to let tile38-server to just listen e.g. on 127.0.0.1, one needs another option. I recommend to apply a patch like the following to support this. Thanks.

[code]

[2016-03-05 12:33] rse opened #3 "Authentication required"
When one lets tile38-server listening on not just 127.0.0.1 one needs authentication. For this tile38-server should perhaps support a config file with users/passwords pairs and tile38-cli should have options to supply username/password during connect. Optimally, the connection between tile38-cli and tile38-server should be SSL/TLS encrypted so that the password is not transmitted unprotected. Or a

[2016-03-05 17:09] steve21124 opened #4 "Have you deployed this to heroku or AWS?"
if you do, do you have https://devcenter.heroku.com/articles/deploying-go or procfile?

[2016-03-05 20:39] #2 closed

[2016-03-05 21:18] tidwall commented on #4
I have not deployed on heroku, but I have tested on AWS. And I have deployed on Digital Ocean. I don't currently have a procfile. Sorry :(

[2016-03-05 21:56] steve21124 commented on #4
thanks. how about docker? do you have one for digital ocean?

[2016-03-05 22:00] tidwall commented on #4
I installed Tile38 directly on the server. I'm quite familiar with Docker and it shouldn't bee too difficult to assemble a Dockerfile. Though I have not tested it.

[2016-03-06 21:32] agborkowski commented on #3
+1

[2016-03-07 01:24] tidwall commented on #3
Hello @rse, I totally agree. Currently Tile38 is designed to run in a trusted environment, and it should not be exposed directly to the internet or other networks that are untrusted. There should be a layer in the middle such as a web application that mediates access. In the case of HTTP or WebSockets that could be Nginx or Haproxy, but most often a custom application. Each of which could include

[2016-03-07 11:51] LuisUrrutia opened #6 "Installation problems"
Hi, i'm trying to install Tile38 with no success.
I set the gopath (/opt/go) and i clone the repo in a src directory, and i run "make test" and show me errors like this:

[code]

Could you add an explanation step by step please? I'm new with go and I just want to test it.
Thanks u very much

[2016-03-07 13:25] tidwall commented on #6
Hi @LuisUrrutia,

Sounds like there may be a problem with the test.sh script. What version of Go do you have installed? `go version`

[2016-03-07 13:43] tidwall commented on #6
I've identified the problem and I'm working on a fix now. Thanks @LuisUrrutia!

[2016-03-07 19:44] LuisUrrutia commented on #6
Hi again @tidwall, i tried the steps that you describe, but:
<img width="754" alt="captura de pantalla 2016-03-07 a las 4 43 06 p m" src="https://cloud.githubusercontent.com/assets/3771248/13581067/e63273d8-e483-11e5-9bb4-14906526b06e.png">

[2016-03-07 19:58] tidwall commented on #6
I made an update earlier a few hours ago that addresses this issue. Did you pull the latest commit?

[2016-03-08 13:13] #3 closed

[2016-03-08 13:25] tidwall commented on #3
I added this feature to the latest commit. But I have `protected-mode` set to`no` by default for now.

For now use this command.
[code]

[2016-03-11 01:29] LuisUrrutia opened #7 "Search within MultiPolygon"
I have GEOJSON objects, in this format:

`{"type":"MultiPolygon","coordinates":[[[[-69.47657387098774,-20.577241016355124],[-69.47743687205649,-20.730774540841214],[-69.47073936300552,-20.729771961542188],[-69.46597958706174,-20.72983009675763],[-69.45877723512393,-20.730084380669112],[-69.44686656121634,-20.730974121623348],[-69.43723371262506,-20.73045672747964],[-69.42880075385169,-20.731381525

[2016-03-11 01:35] tidwall commented on #7
Yes. You can search within a MultiPolygon. Tile38 is designed to support all objects regardless of their complexity or type.

[2016-03-11 02:04] LuisUrrutia commented on #7
The syntax will be something like:
`WITHIN key OBJECT (MultiPolygon)`
right?

And if i want to store more data with a MultiPolygon I have to do this:
`SET cities Santiago FIELD code 1 FIELD region Metropolitana OBJECT (geojson)`

But what about if i want to search all the point within the MultiPolygon Santiago in cities key?

[2016-03-11 04:37] tidwall commented on #7
Correct, `WITHIN key OBJECT (MultiPolygon)` will search for all objects belonging to `key` that are fully contained with the `MultiPolygon` object.

And right, using the `FIELD` keyword will allow for meta data.

I hope that I understand what you are trying to do. Perhaps you are looking for something like:

```WITHIN key GET cities Santiago```

This will search for everything inside of `key` that

[2016-03-11 11:16] LuisUrrutia commented on #7
Yeah! That's what I'm looking for. Don't worry about the doc, i know that is a really new project (or at least a new project for the community) and btw is a really good project, my partners and i are playing with this since a9bbecb969f415435444bc7f54ea3fbe2a91560d and it's awesome!

[2016-03-11 13:51] tidwall commented on #7
Great to hear! Thanks so much for your feedback.

[2016-03-17 04:36] xinuguru commented on #6
I had same trouble with @LuisUrrutia.
I added some environment variables to fix it.
I installed go with homebrew.

GOROOT=/usr/local/Cellar/go/1.6/libexec
GOPATH=~/git/tile38-1.0.4/vendor

[2016-03-17 04:47] tidwall commented on #6
@xinuguru Thanks for info. Did you install Go specifically for Tile38, or were you using Go for other projects before?

[2016-03-17 04:49] xinuguru commented on #6
@tidwall No. I'm not familiar with go. I never used before.

[2016-03-17 04:52] tidwall commented on #6
Ok. Good to know. I'm on a Mac too and never used Homebrew for installing Go. I've alwayed followed the instructions on the Go website. Perhaps there's something different that happens when installing with Homebrew that I'm not aware of. Thanks.

[2016-03-17 18:56] #6 closed

[2016-03-17 18:57] tidwall commented on #6
I located and fixed the problem. Thanks for notifying me of the issue @xinuguru

[2016-03-22 00:40] DefunctExodus opened #8 "GeoJson size"
First let me say this is a very cool project, specifically the geo fencing.

I have not had a ton of time to play around with this let so I figured I may as well just ask, is there a limit to the size of the geojson you support?

I ask this because one of my files is about 200mb give or take.

Thanks

[2016-03-22 01:30] tidwall commented on #8
Thanks for the kind words.

The geojson limit is 4GB. But after looking at the code, there is apparently a 16MB limit to the size of a message that can be received by the server. Which actually seems really small. I'll fix this and push an update.

[2016-03-22 01:32] #8 closed

[2016-03-26 19:33] mozinator commented on #4
I use this for deploying tile38

Dockerfile
[code]

tile38.sh
[code]

[2016-03-26 22:03] tidwall commented on #4
@mozinator thanks for sharing your Dockerfile.

[2016-03-27 12:18] mozinator opened #10 "Add tile38 to awesome-go"
https://github.com/avelino/awesome-go

[2016-04-03 22:35] tidwall commented on #10
Thanks for the suggestion. I just added Tile38 this morning.

[2016-04-03 22:35] #10 closed

[2016-04-13 09:45] bibhu-biswal opened #11 "ReverseGeocoding"
How can i do reverse geocoding

[2016-04-13 15:13] tidwall commented on #11
Hi @bibhu-biswal , Unfortunately Tile38 does not have geocoding commands.

[2016-04-13 15:13] #11 closed

[2016-04-18 19:49] davidxv opened #12 "HTTP POST results in invalid argument response"
Hello:
First off - I love the idea of Tile38. Thank you.

I'm trying to use HTTP POSTs to talk to the tile38-server but, regardless of trying from Ruby or Java, I keep getting invalid argument responses like this: {"ok":false,"err":"invalid argument '500\r\n'","elapsed":"66.045¬µs"}

It seems that the return-newline pair in the request body is being run on to the last parameter in the command stri

[2016-04-18 20:23] tidwall commented on #12
@davidxv
Thanks for the kind words! I found the root of the problem. I'll post a fix right away.

[2016-04-18 20:26] #12 closed

[2016-04-18 20:27] tidwall commented on #12
I just pushed the fix to master. Please let me know if this doesn't work for you. Thanks for help.

[2016-04-18 21:01] davidxv commented on #12
Absolute star - works fine for me now. Java (HttpUrlConnection) and Ruby (Faraday gem) alike.
Great work - and thank you for the rapid response. :)

[2016-04-19 07:08] ray93 opened #13 "how to query using geojson object"
hi，i met a problem about query.
When i query using geojson object, such as
'within city object OBJECT {"type":"Polygon","coordinates":[[[-111.9787,33.4411],[-111.8902,33.4377],[-111.8950,33.2892],[-111.9739,33.2932],[-111.9787,33.4411]]]}
it always returns error 'invalid argument object'.
can you help me solve the problem,thank you!

[2016-04-19 12:35] tidwall commented on #13
Hi @ray93
It looks like this is an issue with Tile38. I found the root of the problem. I'll post a fix right away.

[2016-04-19 12:38] #13 closed

[2016-04-19 12:47] tidwall commented on #13
I posted a fix, try this query

[code]

[2016-04-20 01:51] ray93 commented on #13
it does work well for me, it did miss object key,thank for your help!
And i have another two problems.
one is how to add data using set command by batch, and can set command use websocket protocol?.
And the other is how to log in the background when the server starts.
can you give me some advice,thank u!

[2016-04-20 03:52] tidwall commented on #13
I'm glad to hear that your query is working.

For batches I recommend using one of the [clients](http://tile38.com/clients), not HTTP or websockets. HTTP is more for system administration such as running from a bash script with curl. The websocket protocol is really only useful when connecting to [Geofences](http://tile38.com/topics/geofencing/) and live searches.

After choosing a client, make a

[2016-04-25 02:09] jacky8787 opened #14 "questions about in_memory geodata"
hi,i have two questions.
one is dose tile38 use redis to store geodata, and if does, how can i find related code in the project.
The other is how can i use redis client to insert data by batch as tile38 uses Redis Protocol.
thanks for your help!

[2016-04-25 02:30] tidwall commented on #14
Hi @jacky8787

Tile38 does not use Redis for data storage. The only thing that Redis and Tile38 share is a similar API and the Redis protocol. While Tile38 borrows a lot from Redis for networking design and command structure, they are independent databases.

Which client are you using?

Any of the [clients](http://tile38.com/clients/) should handle batching by pipelining multiple `SET` commands in

[2016-04-26 03:05] jacky8787 commented on #14
hi,thanks for your help!
if i use jedis, how can i connect to tile38 server and handle batching by pipelining multiple set commands.
thanks for your help.

[2016-04-26 12:11] tidwall commented on #14
I haven't used jedis before, but it looks like a cool Java redis client.

Looking at the jedis README page, there's an [example](https://github.com/xetorthio/jedis#how-do-i-use-it) of connecting to a server. For Tile38 you will need to use the port 9851. So your connection code will probably look something like this.

[code]

It looks like jedis supports pipelining by using the `Pipeline` class. T

[2016-05-03 04:24] mpseay commented on #4
Hey guys, I noticed mention of docker. Hope you don't mind if I append to this thread. I'm currently trying to get tile38 up and running in a docker container:

Dockerfile
`FROM golang

RUN git clone https://github.com/tidwall/tile38.git /go/src/github.com/tile38
RUN cd /go/src/github.com/tile38 && make

VOLUME ["/data"]

ENTRYPOINT /go/src/github.com/tile38/tile38-server

EXPOSE 9851`

I've got a

[2016-05-03 16:47] tidwall commented on #4
Hi @mpseay,

We don't currently have an official docker image but we do plan on publishing one together in the near future.

Tile38 does run in a docker container. I haven't seen the error that you mention, but I'm not too familiar with docker-composer. This is a Dockerfile that I'm currently using. It's based on the lastest tar.gz release as opposed to the git repo.

[code]

I wish I could help m

[2016-05-03 17:23] mpseay commented on #4
Awesome, I'll be on the look out. In the meantime I'll see if I can figure this out and I'll update the thread if I can get it functioning! Thanks!

[2016-05-03 20:27] mpseay commented on #4
Quick Update: Turns out the issue was my own :( My connection details in my service container was trying to access localhost rather than the docker host. Problem solved!

[2016-05-03 20:32] tidwall commented on #4
@mpseay Glad to hear you found a solution. I hope Tile38+Docker works out well for your project.

[2016-05-11 15:24] jrots opened #15 "Max memory setting"
When quickly looking at the code I don't see any option or setting to define max memory tile38 can use up - are there plans to add this?
Just would rather have errors returned from tile38 that max memory has been reached than an OOM killer killing the whole process.

[2016-05-11 16:06] tidwall commented on #15
Hi @jrots, Great suggestion and it should be trivial to implement since Tile38 tracks total memory usage for the server stats command.

[2016-05-12 10:19] jrots opened #16 "Setting multiple (small) fields, big size overhead"
Hi,
you can set multiple fields, but internally it's always stored as a float64..which take up 8 bytes,
I have a lot of boolean values/ small integer values < 255 that could fit in one byte,
would be nice if there was an option to define the size during set..
maybe some prefix b:  f.e. SET FIELD b:somefield 5

Regards
Jayme

[2016-05-12 11:27] tidwall commented on #16
Good idea. We could probably detect the minimum size of the value when SET FIELD is called. So the server would recognize that `SET FIELD somefield 5` can fit in one byte and choose to store it efficiently. This way one syntax could handle float64, byte, or other sizes in the future. What do you think?

[2016-05-12 12:31] jrots commented on #16
Sure, or change low level storage in collection.go from
[code]
to :
[code]
storing a byte array?
[code]
You can convert back to float64 when fetching, would require minimal code changes imho

[2016-05-12 13:04] tidwall commented on #16
Something like what you suggest should work. Though the overhead of a byte array in Go can be quite large. Perhaps we can pack up to 8 individual bytes in a float64. Then the collection structure can know which field indexes are used for packed bytes or float64. Then we can use the `math.Float64bits` function for translating.

For example, the collection could dedicate the second float64 as 8-8bit

[2016-05-18 12:39] ElectroCamel opened #17 "Moving geofences, or assigning a geofence to an object"
In our project, we need to check if two users are near to each other. How should we go about using webhooks to achieve this result? If we needed to check if a user was close to a static location, but since these are relative and moving positions...

[2016-05-18 15:44] davidxv commented on #17
Hello. I've also been looking into the idea of dynamic geofencing. My approach, which works for me but may be less optimal for you, is to exploit the fact that Tile38 automatically overwrites a webhook if you give it the same name.

That means that, as (eg) Fred moves I can update a webhook named 'fred' with a standard radial geofence (to whatever radius meets the definition of 'close to') around

[2016-05-18 15:44] davidxv commented on #17
Ref the above:

Obviously, given that you have two geofences in motion, you have to account for double messages (one from Fred, one from John when they move close to each other) but (a) attaching the webhook to callback to an entity class (ie: Fred's geofence triggers flow to the Fred class - thereby telling Fred who is near him, etc.) gives granularity at an entity level and (b) having multiple m

[2016-05-18 19:59] tidwall commented on #17
This is something that's been request by other users, and it's something I've been working on. There's still work to be done on this feature but I here's an idea of what's to come.

A simple example will look like.
[code]
Which will create a fence that monitors the `people` collection for when any object gets within 100 meters of any other object in the same collection.

Or specifically monitor an

[2016-05-19 05:25] ElectroCamel commented on #17
That'd be exactly what we're looking for! Any ETA to the update?

[2016-05-19 06:31] davidxv commented on #17
Hey Josh: That looks great. Just the sort of functionality I was aiming for - hence the workaround. Thinking it through, your forthcoming feature will greatly reduce the number of calls I have to make (and, therefore, the amount of worker the T38 server has to do in response to those).

Nice!

David

[2016-05-19 17:35] tidwall commented on #17
It's fantastic to hear the excitement. I'll fast-track the feature and work towards getting a beta into the repo next week.

[2016-05-23 20:16] tidwall commented on #17
I just pushed an update that follows the syntax above to 3a6a33e in the master branch.

[2016-05-24 02:43] #15 closed

[2016-05-24 02:45] tidwall commented on #17
I'm closing this issue for now. Please let me know if you run into any problems with the roam command and feel free to open it again.

[2016-05-24 02:45] #17 closed

[2016-05-24 02:46] tidwall commented on #14
Hi @jacky8787, I hope you were able to find a way to work with the Jedis client. I'm closing this issue for now, but please feel free to open it up again if you run into any problems. Thanks!

[2016-05-24 02:46] #14 closed

[2016-05-24 02:57] tidwall commented on #15
To set the max memory use something like
[code]

[2016-05-24 08:38] jrots commented on #15
cool !! very nice 👍

[2016-05-25 21:51] teqdruid opened #18 "Using as Library"
I'm thinking of using tile38 as a library rather than separate process. Looks like I can just instantiate a controller/collection.Collection and go. Is that the best drop-in place? I'd basically like access to most of your features, but I don't need/want replication and I can't afford a separate daemon and the complexity that entails.

Also, with regard to my tweet: when wrapping around -180/180,

[2016-05-25 23:08] tidwall commented on #18
Correct. The `Collection.New()` is the way to go. A collection expects input from the geojson package, but you can generate a very lightweight `geojson.Object` without actual geojson by doing something like:

[code]

Then you can use the `col.Search()` function for retrieving the objects.

I don't publish documentation on methods under the collection package and I can't promise that these APIs won

[2016-05-26 01:11] teqdruid commented on #18
Cool!

Yeah, looks to me like you're structured somewhat for this, but some of the functionality is mixed into the server aspects a bit. The collection interface is also clearly designed for the server functionality rather than local clients. I was thinking I'd fork it and make modifications as necessary and time allows.

[2016-05-26 01:27] tidwall commented on #18
Everything under the controller package is intended for server use. But you should be able to import the collection package and use it directly.

[2016-06-08 19:53] tidwall opened #20 "Ability to specify the pidfile via args in FreeBSD"
Currently the pidfile must be managed outside the application. Adding an arg to the startup process will streamline this process. See #19.

[2016-06-10 19:33] mozinator opened #21 "Please document the DETECT option intruduced in version 1.1.0"

[2016-06-10 21:53] tidwall commented on #21
Thanks for letting me know. I just updated the online documentation on the commands/intersects and topics/geofencing pages.

http://tile38.com/commands/intersects
http://tile38.com/topics/geofencing

[2016-06-14 17:33] tidwall commented on #20
@olevole I was thinking I would add a parameter named `--pidfile`. When provided the process would daemonize. Does this seem like a reasonable approach?

[2016-06-14 18:16] olevole commented on #20
@tidwall Absolutely! Currenlty, i've made rc.d script for FreeBSD:

http://pastebin.com/jPmpqrwx

where i got pid from daemon(8). It is necessary for correct stop command; with --pidfile tile38 would be self-sufficient for rc.d subsystem.

[2016-06-14 18:46] tidwall commented on #21
@mozinator I'm closing this issue for now. If you think that there's anything I should add to the docs, feel free to reopen this issue. Thanks again.

[2016-06-14 18:46] #21 closed

[2016-06-19 11:33] mozinator commented on #21
Looks good, thank you !

[2016-06-21 21:23] tidwall commented on #20
@olevole Apparently daemonizing a Go app is a little more challenging that I expected. I was hoping for a simple solution by just forking and rerouting logging and such. But fork and posix threads don't always play well with Goroutines. It sometimes works, but isn't totally stable.

There's a whole long discussion about it dating back to 2009. https://github.com/golang/go/issues/227

There may sti

[2016-07-14 15:34] tidwall opened #24 "Add EXPIRE, TTL commands and EX keyword"
Add the eviction commands `EXPIRE`, `TTL`, and the `EX` keyword to the `SET` command.

Examples
[code]

[2016-07-15 20:24] tidwall commented on #24
`EXPIRE`, `PERSIST`, `TTL`, and the `EX` keyword for the `SET` command have been pushed.

[2016-07-15 20:24] #24 closed

[2016-07-20 17:35] rbastian opened #25 "GeoJSON Point in Polygon searches?"
Hi -

I'm having trouble getting something simple to work: I want to test to see if a GeoJson Point is inside a GeoJson Polygon:

Here is the polygon definition:

[code]

Here is the query for a point inside the Polygon (Tempe lat/lon from Google) that I expect to work but does not:

[code]

I also tried INTERSECTS:

[code]

If I query with the entire Polygon, it does work:

[code]

[2016-07-20 18:11] tidwall opened #26 "Allow a GeoJSON Point to be used for WITHIN and INTERSECTS"
This is in reference to #25

[2016-07-20 18:12] tidwall commented on #25
WITHIN and INTERSECTS cannot be used with points, only polygons or boundaries. This is a limitation of Tile38. But there are workarounds.

It is possible to use your point if it's represented as a polygon:

[code]

Or you can use the BOUNDS keyword:

[code]

Finally you can use the NEARBY and use a small sub-meter value:

[code]

Tile38 should support the Point type for INTERSECTS and WITHIN. I fi

[2016-07-20 18:54] rbastian commented on #25
NEARBY with a distance of 0 also works:

[code]

[2016-07-20 19:33] tidwall commented on #25
Well that's even better. Thanks for the tip and for reporting this issue.

[2016-07-22 13:08] cloudspeech opened #27 "missing documentation about performance"
This looks like a great project and especially (dynamic) geofencing is super-interesting.

However, I didn't find any documentation on **performance**. To take one example of interest, if
one stored a set of 1 million moving points in tile38 representing people in a large country, and then issued a dynamic geofencing query on that set, what is the memory usage and what latency can we expect?

To a

[2016-07-22 15:01] zhangkaizhao opened #28 "tile38-cli.exe outputs "GetFileInformationByHandle /dev/stdout: Incorrect function." in Windows"
version: 1.2.0
OS: Windows 10 x86_64

tile38-cli.exe outputs:
[code]

[2016-07-22 18:20] #28 closed

[2016-07-22 18:59] tidwall commented on #27
Thanks for the suggestion. I agree that this would be very helpful. I added it to our roadmap.

[2016-07-25 15:13] jeremytregunna opened #29 "Generalized hook interface?"
Is there any thought going on or something I've maybe missed about writing custom outputs for hooks? As in, we can define webhooks right now, but in my application, I don't use HTTP at all, and would like to be able to call back to clients via some other protocol. To support this, there'd need to exist some generalized hook interface that could support multiple protocols. Is this something that is

[2016-07-25 15:55] tidwall commented on #29
As it stands right now, there are no plans for a generalized hook interface. Currently Tile38 supports HTTP, WebSockets, Disque. There is also the ability to [connect directly](http://tile38.com/topics/geofencing/) to a raw socket which would allow for a middleware microservice to deliver messages in a custom manner.

That being said, I suppose it's not too far fetch to add support for more protoc

[2016-07-25 16:05] jeremytregunna commented on #29
@tidwall I'm working with MQTT at the moment.

[2016-07-31 17:17] giksa opened #30 "Special hook"
I'm using Tile38, but i have a problem.
I will try to explain it with an example application:
This is an app that let you communicate with the first person near you but this feature is a communication with the opposite sex, so for example i have a person (male) that is looking for someone (woman) and in the application i set a static geofence (i need it static) with a radius of 150m that detect if

[2016-07-31 19:08] tidwall commented on #30
If I am understanding your problem correctly. You have:

- Two Men. Let call them `M1`, `M2`.
- Two Women. `W1`, `W2`
- One 150km WebHook Geofence. `G1`

When `W1` or `W2` enter `G1` you would like `M1` xor `M2` to be notified once.

Is this correct?

Also I'm assuming that this is a mobile application that the each participating man and women have on their phone.

[2016-08-01 04:40] giksa commented on #30
`M1` start to looking for a woman at 10:00AM with a Geofence `G1`
`M2` start to looking for a woman at 10:30AM with a Geofence `G2`

When this happen (`M1` and `M2` waiting for a Woman), I want that when `W1` enters just `M1` get notified.

Why just `M1`? Because he start to looking for a Woman before `M2`

After `M1` gets notified, the `G1` is deleted and the `M2` with `G2` will continue looking

[2016-08-01 16:57] tidwall commented on #30
Is this is a mobile application that each **participating** man and women have on their phones?

===

Is `W1` being detected by `G1` and `G2`?
Does both `G1` and `G2` send the notifications correctly?

If so, each geofence notification should contain look something like:
[code]

So you have the timestamp, the hook name (`G1`), and the id (`W1`). This should be all you need from Tile38.  At this po

[2016-08-10 15:10] Volox opened #31 "geojson: Implement json.Unmarshaler and/or use `json` tagged fields"
Mostly due to #18 it would be great to implement both golang json interfaces (`json.Unmarshaler` and `json.Marshaler`) so a GeoJSON can be loaded directly from a file.

Also checking the code i noticed that most the work (the actual byte parsing) is already done.

[2016-08-11 09:40] icewukong opened #32 "How to use the command 'AOF pos'?"
I have started a Leader and a Follower,then send command 'aof 0' to the Leader,it does not work……

[2016-08-11 09:58] tidwall commented on #32
Hi @icewukong

The "AOF pos" command will download the append-only file starting at the byte position specified. The connection is kept open and downloading will continue until you close the connection.

This command should not be called directly.

If you are wanting to setup a leader/follower please look at the topic on [Replication](http://tile38.com/topics/replication). The only command you nee

[2016-08-11 10:06] tidwall commented on #31
Thanks for the suggestion. I'd be happy to add this feature, but I'm not sure of the best approach to making it work.

If it's not too much trouble, Could you provide an example of how you would use it in code?

[2016-08-11 10:14] icewukong commented on #32
I has already  setup a leader/follower. I want to send the data from the pos of append-only file to follower,what should I do?

[2016-08-11 10:31] icewukong commented on #32
If the master / slave relationship is established,then the connection is broken again, and it is necessary to send a 'AOF pos' command to the follower to implement the synchronization again?

[2016-08-11 14:17] tidwall commented on #32
When the leader/follower connection is broken, the follower will automatically reestablish a new connection. Once connected, the follower will send an AOFMD5 an then AOF to catch up to the follower.

This is all automated in the background. You shouldn't need to send any commands.

[2016-08-12 01:05] icewukong commented on #32
Oh,understand!
Thanks for answering!!!

[2016-08-12 02:12] #32 closed

[2016-08-16 02:00] icewukong opened #33 "Hope add a values fencing"
If Tile38 have a mechanism that can set a range of monitoring would be the best. For example,  the client sent the "fset" command to set the values of  a field can also bind a hook, specifically, if a truck‘s speed reaches a certain value,tile38 will  trigger a values fencing event.

[2016-08-16 13:19] tidwall commented on #33
This is possible by using the `WHERE` clause for your fence.

[code]

This will only trigger an event when the `speed` field of an object is 25+

For more information check out http://tile38.com/commands/intersects/#search-options

[2016-08-17 01:28] icewukong commented on #33
Awesome! it's good idea.
Thanks!

[2016-08-19 01:56] icewukong opened #34 "How to query the envelope of all elements of a key"
Hi, tidwall:
In order to quickly locate the data within a key, I need to know the minimum bounding rectangle of all the objects in this key. What shall I do?
R tree indexs should store this information, but I did not find such an interface.

[2016-08-19 02:55] tidwall commented on #34
Great suggestion. There is currently no way to do this. But you are right that it should be possible. Tile38 uses a hybrid R-tree / Quadtree. It would just need to scan the top level elements for the bounds.

I'll need to investigate a bit, and I'll keep you posted.

[2016-08-19 15:37] tidwall commented on #34
I just added the `BOUNDS` command which returns the minimum bounding rectangle for all objects in a key.

[code]

Please let me know if this works for you. Thanks.

[2016-08-22 01:27] icewukong commented on #34
I have tested it. This command is available. Thank you!

[2016-08-22 03:45] tidwall commented on #34
You're welcome and I'm glad it to be of help. 👍

[2016-08-22 03:45] #34 closed

[2016-08-22 04:37] icewukong opened #35 "Suggest a clear description of the tile38's default spatial data mathematical reference's parameters"
I suggest a clear description of the tile38's default spatial data mathematical reference's parameters, so that the client will convert other ellipsoidal reference data to the default data reference system,and submit data. otherwise, it is prone to error when the lenth of arc is converted to meters.
Although this error is not great. :)

[2016-08-22 17:16] tidwall commented on #35
Thanks for the suggestion.

WGS84 is the only reference coordinate system that Tile38 uses, and all distances are in meters. I wanted to keep the API as simple as possible and felt that this would provide for the broadest range of applications.

Do you recommend that I state this more clearly on README and Tile38.com website? Is there anything specific that you think should be noted?

[2016-08-23 02:28] icewukong commented on #35
I mean you can emphasize the distances refers to two points on a spherical surface distance, not plane distance.
If the two projection coordinates of the distance need to be converted to WGS84 under the arc distance.
Because I made such a mistake and I don't want other people to make the same mistake!    :)

[2016-08-23 02:34] tidwall commented on #35
Ahh I understand now. Good point and I agree. This is something I'll work on doing. Thanks.

[2016-08-24 03:45] icewukong opened #36 "How to use the password?"
How to use "AUTH" in the HTTP request,when I call the "CONFIG SET requirepass mypass" command,?
Can you give me an example? Thank you!

[2016-08-24 12:43] tidwall commented on #36
You can use the Authorization header. For example:

[code]

[2016-08-25 01:50] icewukong commented on #36
After I took the password to the header of the HTTP request, the get and set operations returned the following information:
`{"OK": "true", "elapsed": "0"}`
After the set operation is performed, the data is not written to the AOF, and the get operation does not return the information I want.

[2016-08-25 02:03] tidwall commented on #36
There appears to be a bug with http and auth. I'll need to look into it further.

[2016-08-25 12:25] #36 closed

[2016-08-25 12:26] tidwall commented on #36
I just fixed this issue and pushed the update to the master branch. Please let me know if this doesn't work and thanks for reporting the bug.

[2016-08-25 17:25] FGRibreau opened #37 "Add a GUI?"
Hello !

Would you be interested that we ([Redsmin](https://redsmin.com)) promote tile38 as a compatible server for our online real-time administration and monitoring service?

As for as I can see Tile38 already handles *scan* command, if only it could implement the `type` and `info` command, you would get a GUI and monitoring/alerting for free :)

[2016-08-25 18:28] tidwall commented on #37
Hi,

I can add those commands. Which sections/fields from `INFO` does Redsmin require?

[2016-08-25 18:45] FGRibreau commented on #37
The best way is to connect it to Redsmin but from the top of my mind:

- info needs a `redis_version` and the info commands must be able to respond to `info all` and `info commandstats` and `info cluster` (even if its empty)
- some of monitored info keys are:

[code]

but you don't need to implement each of them, however if you implement one just use the same unit type as Redis itself :)

[2016-08-25 22:03] tidwall commented on #37
Sounds good. I'll see what I can do. Thanks!

[2016-08-26 06:18] GameFreedom opened #38 "Tile38 support nginx ?"
hello:
I set up a nginx . I send a request to nginx reverse proxy tile38 after the visit .But This request
Does not return anything. This request is only "http://localhost:9851/server" . I have tried many ways, hope to get your help.
thanks

[2016-08-26 07:33] GameFreedom opened #39 "CONFIG SET requirepass mypass"
First of all, I type the following command："config+set+requirepass+1234",
Then enter the command "config+rewrite".Now the password is permanent.
Could I please without manually delete the config file, how to remove the password

[2016-08-26 13:55] #38 closed

[2016-08-26 13:56] tidwall commented on #38
@GameFreedom Thanks for reporting this. I fixed the problem and pushed an update to the master branch.

[2016-08-26 14:19] #39 closed

[2016-08-26 14:21] tidwall commented on #39
I pushed an update to the master branch that allows for `config+set+requirepass` to reset the password. Thank you for reporting this issue.

[2016-08-26 18:17] jegodwin opened #40 "Using redis-rb, how do you interface with Tile38?"
Sorry if this is a dumb question...just a little lost on how to interact w/ the tile38-server via redis-rb. I've got as far as starting the the tile38-server and then connecting to the server & port using redis-rb, but then I'm lost. What syntax should I use to do something like setting a point?

Redis-rb docs say this for setting a key: `redis.set("mykey", "hello world")`
So I tried: `redis.set("

[2016-08-26 18:33] tidwall commented on #40
Not a dumb question.

You should be able to call any Tile38 command using `redis.call()`. Forgive me, my ruby is not very good., but something like this should work:

[code]

Let me know if this works for you.

[2016-08-26 18:55] jegodwin commented on #40
Hmmm. I tried that and although I'm not getting an error, it doesn't seem to be setting anything; I'm not getting a response back from the server. 😕

[2016-08-26 19:09] tidwall commented on #40
The code isn't overly clear to me, but here's the function signature to the `call` function.  https://github.com/redis/redis-rb/blob/master/lib/redis.rb#L84-L96

Not sure if makes a difference, but I actually had an error in my syntax. I forgot the `fleet` key.
[code]

Is the server saving the `set` command? You can check with telnet.

[code]

[2016-08-26 20:58] jegodwin commented on #40
I get `-1` when i telnet and type `get fleet truck`.

I'll play with it some more this weekend and see where I get. Thanks for your help. This could be a great addition for our new startup.

[2016-08-26 21:00] tidwall commented on #40
"-1" means "not found". So I guess the set calls were doing nothing.

Let me know if there's anything I can do. Thanks for your interest in the project.

[2016-08-30 01:52] icewukong opened #41 "To evaluate how much memory tile38 will use"
Before loading the AOF file in tile38, is there a relatively conservative and simple method to evaluate how much memory tile38 will use ?

In addition, in order to reduce memory fragmentation, do you have any suggestion on the design of GeoJSON ?

[2016-08-30 02:18] tidwall commented on #41
Every object comprises of at least:
- Object Header: 16-bytes
- R-Tree Pointer: 16-bytes

Then there's the actual data such as:
- Point Object (Lat/Lon): 16-bytes
- LineString: (Point*N)
- Polygon: (LineString*N)
- Etc..

So the smallest object is a Point which will take at least 48 bytes to store.

Tile38 stores GeoJSON in a binary format, and any variation of the same fields are stored identical

[2016-08-30 02:19] tidwall commented on #41
I would also like to add that you can always check the memory usage with the `SYSTEM` command.

[2016-08-30 02:22] tidwall commented on #41
One more thing. If you are on a low-memory system, you can compile for 32-bits and save some memory.

From the command line:

[code]

The pointer sizes will be 32bits and this will save about 8 bytes per object.

[2016-08-30 02:37] icewukong commented on #41
I get it，thank you :)

[2016-08-31 01:56] icewukong opened #42 "Does tile38 use CPU's single core?"
Does tile38 use CPU's single core? The source code does not seem to set the use of multi-core, if set to multi-core, whether it can enhance the performance of it?

[2016-08-31 03:03] tidwall commented on #42
Yes. All cores should be used by default. You can use the GOMAXPROCS environment variable to control this.

[2016-08-31 05:29] icewukong commented on #42
I ask so many questions, thank you for your patience！

[2016-08-31 05:31] tidwall commented on #42
No worries. I appreciate the feedback. :)

[2016-09-02 20:17] owaaa opened #43 "Nearby Returning results outside the range Point -> Linestring"
First of all, this is a really cool project. I like that is very fast. I was doing some testing and computed distances for each of my matches returned by tile38 (point to linestring). I'm doing a nearby search with 1km and still getting some items over 74km away. Looking at the code it looked like was doing an intersection so I would of thought that it would work or is this bounding box based?

te

[2016-09-02 21:34] #43 closed

[2016-09-02 21:42] tidwall commented on #43
Hi Andrew,

I just pushed an update that fixes this problem.

It appears that the linestring was being treated like a polygon causing the first and last points of the linestring to be closed off. Then the center point of the radius was being reported as inside of the polygon.

Let me know if this helps or if you have any questions.

Thanks for reporting this issue!

[2016-09-05 07:13] huangpeizhi opened #44 "How to backup data？"
if I store about ten thousand fence , how do I export a copy of the data?

thanks.

[2016-09-05 16:09] tidwall commented on #44
I recommend just making a copy of the database file in the data directory.

[2016-09-06 00:48] huangpeizhi commented on #44
Thanks!
Originally thought to restart the service, the memory data will be lost, just tested, the service will automatically load the AOF file.

[2016-09-06 00:48] #44 closed

[2016-09-06 03:26] icewukong opened #45 "Can support the transaction, like buntdb?"
Hi tidwall
Buntdb can provide support for the transaction，it can also be achieved in the tile38 ?

[2016-09-06 04:16] tidwall commented on #45
Hi icewukong,

I'm sorry, but Tile38 does not support transaction at this time. I'm hoping to add it in the future.

[2016-09-06 04:40] icewukong commented on #45
That's all right,I am looking forward to this new feature!

[2016-09-06 10:03] huangpeizhi opened #46 "Nearby command 's where conditions how to express equal?"
I use the FIELD clause in the set command.
SET name id Field routecode abc Field stationid 123456 POINT lat lon
which "routecode" value is string

NEARBY FenceXY where routecode 69030 POINT 23.135278 113.325000 100.000000
where conditions how to express equal?

[2016-09-06 13:10] tidwall commented on #46
`FIELD routecode abc` is not allowed because fields can only be numbers.

The WHERE requires two values "min" and "max".
To search for equality on a single value you can do this:
`WHERE routecode 69030 69030`

[2016-09-06 13:32] huangpeizhi commented on #46
Using where condition and using match conditions, which performance is good？

[2016-09-07 04:38] huangpeizhi opened #47 "How to make better use of TILE38 in this business？"
There is a scene in the business, the use of real-time GPS data of the device to simulate multiple real-time access to the fence, the message can be triggered at each access（out/in）.

GPS data generated by the terminal about tens of thousands, each terminal every 10 seconds to produce a GPS message; and the fence is relatively static definition（Hundreds of thousands of）.

How to use TILE38 to achi

[2016-09-07 10:01] #46 closed

[2016-09-07 13:21] tidwall commented on #46
Sorry for not getting back to you sooner. Both WHERE and MATCH have a similar performance O(n).

[2016-09-07 21:33] owaaa opened #48 "Missing Results when records with Large ID length"
I'm seeing some odd issues with long(ish) id lengths. I have some multipart IDs I'm placing inside the same key in order to do a NEARBY search. Basically its a concatenation of the type + <item id> as I want to search multiple classes of things within the same key. With longer IDs of 77 characters, I'm seeing that the records are never found with a NEARBY search.

When In invert the ID, (category

[2016-09-07 21:37] owaaa opened #49 "Pipeline Issues (python client)"
I haven't been able to get pipelines to work (using Python Client). In #14 it appears that this should be supported?

My code looks something like

[code]
Tile38 reports [ERRO] Protocol error: unbalanced quotes in request

Thoughts?

Redis client is redis==2.10.5

Individual execute_commands directly against the client, "non-pipelined" work great, I just want to speed up bulk loads. Thanks

[2016-09-07 21:40] tidwall commented on #48
Are you using HTTP for the client?

[2016-09-07 21:52] tidwall commented on #49
I would like to reproduce this issue on my side.

About how many messages are your sending at one time? And roughly how large is each geojson?

[2016-09-07 21:54] tidwall commented on #48
Or rather which client are you using? :)

[2016-09-07 22:04] tidwall commented on #47
Hi huangpeizhi,

Sorry, but I'm not fully understanding your question.

Are you asking if Tile38 can handle a static Geofence with 100,000+ points, and 10,000+ messages every 10 seconds?

Yes. A modest Tile38 server should handle this load.

[2016-09-08 04:10] huangpeizhi opened #50 "MATCH clause problem"
scan FenceXY cursor 0 match 00010/13/00010002*
{"ok":true,"fields":["routeid","routesubid","stationid","ordernumber"],"objects":[{"id":"00010/13/00010002","object":{"type":"Point","coordinates":[113.223213,23.078522]},"fields":[427,840811,10003314,2]}],"count":1,"cursor":0,"elapsed":"70.87µs"}

scan FenceXY cursor 0 match 00010/13*
{"ok":true,"fields":["routeid","routesubid","stationid","ordernumb

[2016-09-08 04:35] huangpeizhi commented on #50
tile38  version is 1.4.1

[2016-09-08 04:47] tidwall commented on #50
You found a bug. Tile38 uses "path.Match" for matching, and it has problems with the slash '/' character will. Can you use ':' instead?

[2016-09-08 04:53] huangpeizhi commented on #50
ok, thanks!

[2016-09-08 06:26] huangpeizhi opened #51 "STATS command input/output be careful!"
127.0.0.1:9851> STATS FenceXY
{"ok":true,"stats":[{"in_memory_size":6813930,"num_objects":104830,"num_points":104830}],"elapsed":"57.39µs"}

127.0.0.1:9851> STATS  FenceXY             # note: 2 spaces
{"ok":true,"stats":[null,{"in_memory_size":6813930,"num_objects":104830,"num_points":104830}],"elapsed":"135.822µs"}

[2016-09-08 06:45] GameFreedom opened #52 "About lettuce"
hi,tidwall
I was a little white,there is a problem need to consult you.
I want to send some instructions through the lettuce to tile38,
But I can't find the call in the lettuce source.For example,
                  redis.call(["set", "fleet", "truck", "point", "33.5123", "-112.2693"])
Looking forward to your reply，thank you

[2016-09-08 08:47] huangpeizhi commented on #47
Business description as shown in Figure， :)

![huang](https://cloud.githubusercontent.com/assets/19602075/18342982/f5c41788-75e3-11e6-915c-87b2699cab32.jpg)

[2016-09-08 11:52] #50 closed

[2016-09-08 12:00] owaaa commented on #49
I had about 1000 set commands. I tried batching to a low number (10) but having a different issue now. The call to pipe.execute() hangs on the very first attempt and never returns. I'm not sure if this is an issue with the python redis client or if something else is going on. I also tried turning off transaction for the pipeline

[2016-09-08 12:01] tidwall commented on #51
Is this with the tile38-cli command?

[2016-09-08 12:01] owaaa commented on #48
I'm using python redis client

[2016-09-08 12:05] owaaa commented on #48
Thanks  for the response. Also to be clear this is the Tile38 ID underneath the key, vs the redis key. Documentation on redis keys seems to be imply the ID can be fairly large. Is there an efficient way to use Tile38 to search across multiple keys? That would be an potential alternative approach to what I was trying to do but I didn't see any way to do that in the commands.

[2016-09-08 12:09] tidwall commented on #52
Hi GameFreedom,

You will want to the the `redis.dispatch` interface.
Please see the page on [Custom commands](https://github.com/mp911de/lettuce/wiki/Custom-commands)

[2016-09-08 12:17] huangpeizhi commented on #51
yes  :)

[2016-09-08 12:17] huangpeizhi commented on #51
yes  :)

[2016-09-08 12:35] #51 closed

[2016-09-08 12:51] tidwall commented on #51
Thank you for finding this bug 👍

[2016-09-08 18:53] tidwall commented on #47
100,000 fences is a lot for one server. Are you planning to use [webhooks](http://tile38.com/commands/sethook/)?

[2016-09-08 21:47] tidwall commented on #49
I think I found the issue. I'm working up a fix now and I'll keep you posted.

[2016-09-08 23:13] #49 closed

[2016-09-08 23:23] tidwall commented on #49
I found the issue and pushed an update to the master branch. If possible, please verify on your side. Pipelining should be working now.

Please note that Tile38 does not support the `MULTI` command, which is how Redis handles transactions. Make sure that transactions are disabled with your client.

[2016-09-09 01:07] icewukong commented on #47
Hi tidwll,huangpeizhi
use `NEARBY stations FENCE ROAM bus * 20`
In this way can solve this problem?

[2016-09-09 01:50] GameFreedom commented on #52
Thank you for your help.
With your help, I tried out

[2016-09-09 04:13] GameFreedom commented on #52
I'm sorry, I have a question.
After I set the password, how to access.
I tried the following several ways：(password:1234)
1.           "redis://1234@localhost:9851"
2.           First send command with AUTH,Then send my query
These methods are not working.
Should excuse me I how to operate?

[2016-09-09 04:25] GameFreedom commented on #52
As follows, does not contain the 'within‘ in ‘CommandType’:
                RedisClient redisClient = RedisClient.create("redis://localhost:9851");
		StatefulRedisConnection<String, String> redis = redisClient.connect();
		RedisCommand<String, String, String> command = new Command<>(
				CommandType.GET, new StatusOutput<>(codec), new CommandArgs<>(
						codec).addValues("fleet","truck1"));
		Rea

[2016-09-09 04:43] tidwall commented on #52
Sorry, but I'm not sure how to use lettuce to send a WITHIN command.

I recommend that you create an issue at https://github.com/mp911de/lettuce/issues/new

[2016-09-09 05:20] huangpeizhi commented on #47
I try use the SETHOOK command to create 100000+ webhook, but point to a HTTP endpoint. :)

[2016-09-09 09:24] huangpeizhi commented on #47
![h](https://cloud.githubusercontent.com/assets/19602075/18382071/05aafc1a-76b2-11e6-8de2-a5be33e683d3.jpg)

this kind of way can't handle this kind of scene.

[2016-09-09 09:56] huangpeizhi commented on #47
25,000,000+/day

Can provide DEL HOOK *  method?

The number of POST method to send  >  the number of HOOKS than the actual number of triggers
：）

[2016-09-09 14:55] owaaa commented on #49
I verified via the master branch. Thanks!

[2016-09-09 15:22] owaaa commented on #48
Testing with master I saw inconsistencies once, but after flushing and trying all again I think its better. It may very well have been related to #49. Feel free to mark this as closed.

I still cannot get `search` to work however. Should I open a new ticket for that? I am testing over http I always get 0 results.

[2016-09-09 15:40] tidwall commented on #48
The `SEARCH` command only works on the string type. It allows for managing basic sorted string data in a key. Geo types will not be returned with search.

For example:

[code]

[code]

[code]

Sorry about the confusion.
It appears that the SEARCH command is poorly documented on the tile38.com site. I'll fix this asap.

[2016-09-09 15:44] owaaa commented on #48
ahh got it. I was trying to find some way to do a MATCH against a pattern of my IDs in some key (Without doing a geospatial search). SCAN with MATCH of a pattern != * didn't seem to work either.

[2016-09-09 15:56] tidwall commented on #48
Could you provide an example of a pattern that you are using?

I generally use MATCH for something like this:

[code]

[code]

[2016-09-09 16:52] owaaa commented on #48
Nevermind. It is in fact working with SCAN on the master branch. I had another issue due to things I set up for the ID test. Thank you for the quick feedback on everything. Great Project

[2016-09-09 16:54] tidwall commented on #48
Thank you for the helpful feedback, and please let me know if you have any further questions along the way.

[2016-09-09 16:55] #48 closed

[2016-09-09 19:12] tidwall commented on #47
Sure I can add a new command that accepts a pattern. How about `PDELHOOK *`?

[2016-09-09 23:22] huangpeizhi commented on #47
Very grateful!

Currently SETHOOKS only HTTP (S) and DISQUE two ways, and this in two ways, each HOOK are based on the establishment of a new connection.
I do not know, it is due to too many connections caused by slow processing? Or TILE38 processes each trigger mechanism FENGS cause?
Or whether there are ways to provide the use of a single TCP connection ENDPOINT.

[2016-09-09 23:38] tidwall commented on #47
Yes. Each HOOK may have it's own connection. This may be too slow for your project.

I could create a single TCP endpoint such as HTTP/2, Websockets, gRPC, or Fasthttp. Is there a specific technology that you would prefer?

[2016-09-10 07:40] huangpeizhi commented on #47
Thank you very much to provide this feature, I want to use gRPC way.

[2016-09-10 15:58] tidwall commented on #47
Sounds good. Let me look into this.

[2016-09-12 09:52] huangpeizhi commented on #47
hi, tidwall:

I simply added in the TILE38 using REDIS single connection pool HOOK, HOOK TRIGGER trigger output the ENTER and EXIT events to REDIS LIST, and CPU use is very high(Use of a 32-core CPU machines, Intel(R) Xeon(R) CPU   E7520  @ 1.87GHz)

![huang](https://cloud.githubusercontent.com/assets/19602075/18431498/ab159da4-790f-11e6-9867-f784a817fb97.jpg)

[2016-09-12 09:52] huangpeizhi commented on #47
![cpu](https://cloud.githubusercontent.com/assets/19602075/18431898/b9803da2-7911-11e6-9f8e-9ee98563b4db.jpg)

[2016-09-12 13:13] tidwall commented on #47
I would like to reproduce this issue.

Could you provide an example of the [SET](http://tile38.com/commands/set/) command that you are using?
And also an example of the [FENCE](http://tile38.com/topics/geofencing/) command?
About how many SET calls per second?
And also how many FENCES do you have open at once?

Thanks

[2016-09-12 15:34] tidwall commented on #47
I pushed a huge update (3b99a6276eaa40a1baa79093818ce198214e04c9) yesterday to the master branch . It includes GRPC support and the PDELHOOK command.  Also HTTP hooks use a one connection per endpoint and support HTTP/2.

PDELHOOK example:
[code]
will delete all hooks, and:
[code]
Will delete all hooks that begin with `station:`

GRPC example:
[code]
Will create a webhook that sends messages over

[2016-09-13 01:24] huangpeizhi commented on #47
thanks very much！

The situation I tested yesterday was
1. Initialize the fence, using the command:
   SETHOOK fenceId redis://host:port/queuename NEARBY BUSXY FENCE DETECT enter,exit POINT lat lon radius
   note: about 1000 fence, the fenceId of each fence is unique.
2. Update BUSXY Set realtime, using the command:
   SET BUSXY terminalId POINT lat lon
   note: 450/s GPS info, about 12000+ termin

[2016-09-14 02:34] huangpeizhi opened #53 "a few questions"
hi, tidwall
1. when using the HOOKS or KEYS command, the results can provide a number of HOOK or KEY display?
2. for what reason, HOOK collection can not be seen through the KEYS command?
3. when I set the KEY expiration date, when the KEY expires, Will affect the results of FENCE event?

thanks ：)

[2016-09-14 04:29] huangpeizhi commented on #47
Because of the previous test CPU too high, today I divided the BUSXY into a number of small collection of categories, and then related to the different HOOK FENCE, now CPU reduced to 30%.

[2016-09-14 10:18] literadix opened #54 "Are there any benchmarks ?"
Hello,

this server is a piece of great work. I like it very much. Do you have any benchmarks or metric numbers we can expect? How many points / fences / notifications can be handled by one instance?

Thank you fro this great piece of software !

Maciej Bednarz, Hannover, Germany

[2016-09-14 13:14] tidwall commented on #53
Hi huangpeizhi

If you are using a Redis client, then the results are encoded as a [RESP](http://redis.io/topics/protocol) Array.  Redis Arrays begin with `*` and then the number of items;

[code]

Hook and Keys are kept in separate structures. The don't share the same keyspace.

Yes, when a key expires a DEL is issued and it propagates through the FENCE was a "del" event.

[2016-09-14 13:16] tidwall commented on #47
Thanks for sharing this. How is the GRPC performance?

[2016-09-14 13:33] tidwall commented on #54
Thanks for the kind words.

Fence benchmarks is something that I've been working on but is currently past due.

The performance currently depends greatly on if you are using [SETHOOK](http://tile38.com/commands/sethook/) or just a standard [FENCE](http://tile38.com/topics/geofencing/).

The notification and networking framework for Tile38 has been under some big changes that include persistent HTT

[2016-09-14 16:18] #7 closed

[2016-09-14 16:18] #16 closed

[2016-09-14 16:18] #18 closed

[2016-09-14 16:19] #45 closed

[2016-09-14 16:21] tidwall commented on #54
This is also mentioned in an older issue #27.

[2016-09-14 16:22] #37 closed

[2016-09-14 16:23] #42 closed

[2016-09-14 16:23] #33 closed

[2016-09-14 16:23] #30 closed

[2016-09-14 16:24] #40 closed

[2016-09-14 16:25] #41 closed

[2016-09-14 16:27] FGRibreau commented on #37
Hello @tidwall,

I just saw that you closed this issue, is the "info" command working?

[2016-09-14 16:29] tidwall commented on #29
Commit 3b99a6276eaa40a1baa79093818ce198214e04c9 includes the first steps to a more generalize interface for Hooks. The root package is in the [controller/endpoint](https://github.com/tidwall/tile38/tree/master/controller/endpoint) directory. There's still more work to be done, but it's a start.

[2016-09-14 16:39] tidwall commented on #37
I recently added the INFO command and is should be working. I also made a minor change moments ago to address an issue with the command.

[2016-09-15 09:20] mozinator commented on #4
I just want to share that I have been using tile38 for a couple of months in production now. It works great!

[2016-09-15 13:27] tidwall commented on #4
@mozinator That great to hear! If it's not asking too much, could you share your use case? I would love to hear how Tile38 is helping you or your organization.

[2016-09-16 20:17] literadix commented on #54
Josh !

Thank you very much for your quick help. How can I help you ? Is there anything which could be done by me ?

Thank you very much,

Maciej

[2016-09-17 00:42] tidwall commented on #54
Hi Maciej,

I could use some help on identifying the priority benchmarks or metric that should be measured, and perhaps which tools might be best for the job.

Things I want to benchmark:

- The general SET, GET, DEL crud commands, should be O(log n).
- The geospatial search commands such as INTERSECTS, NEARBY, WITHIN, should also be O(log n).
- The geofence commands SETHOOK and FENCE. Which may b

[2016-09-18 03:23] huangpeizhi commented on #47
Hi, tidwall

I recently tested in the case of Fence 100000+, how many keys in the collection and how many updates to be able to handle the test on the test machine.

1. I first chose a line of terminal GPS information, gps record 60/minute, execute command SET BUSXY 931491 POINT 23.067500 113.340556

![image](https://cloud.githubusercontent.com/assets/19602075/18612546/b60815e6-7d8f-11e6-8cf0-1cd7

[2016-09-18 03:27] huangpeizhi commented on #47
Test machine :
2 cpu 4 core   Intel(R) Xeon(R) CPU E5520  @ 2.27GHz

[2016-09-18 03:39] huangpeizhi commented on #47
Test Result:
Fence 100,000 - Set update 100/min
Fence 10,000 - Set update 350/min

[2016-09-18 03:41] GameFreedom opened #55 "About Pipeline"
HI,
Recently, I am using Lettuce channel model,
But tile38 seems doesn't work.I want to ask you, whether tile38 support channel model?
And then, there is a problem, Lettuce with dispitch tile38 operation, then the jedis is in what way?
I hope you can help me

[2016-09-18 04:07] GameFreedom opened #56 "About attribute query"
Hi,
I have a question about the attributes of the query.
‘GET’ is similar to the 'where' in the SQL statement?
I want to pass the ‘where’ condition to check the properties of the node containing the attribute value

[2016-09-18 06:50] huangpeizhi commented on #56
[#46](https://github.com/tidwall/tile38/issues/46)

[2016-09-18 06:58] huangpeizhi commented on #53
thanks!

When the amount of KEY or HOOK is more, it is necessary to divide the KEY or HOOK into smaller classes to reduce unnecessary associations.

In this case, TILE38 is for a long time to run the service, need to do as much as possible not to restart the operation, which requires the operation of the state, the KEY or HOOK to maintain the work, the proposed consideration:
- DROP key command, c

[2016-09-18 08:55] mozinator commented on #4
@tidwall I developed an app meant for people who dont have nautical charts or safety equipment on their boats. The app has an nautical chart in it, and you can see other ships on it in real-time.
That last part is made possible due to tile38 👍

[2016-09-18 14:58] tidwall commented on #47
This seems too slow.

I have some ideas on how to speed up Tile38 quite a bit, but I would like to reproduce the benchmarks above on my development computer.

Could you provide the steps to reproduce your results?

[2016-09-18 15:02] tidwall commented on #55
Tile38 does support pipelining as of [1.4.2](https://github.com/tidwall/tile38/releases/tag/1.4.2).

[2016-09-18 15:11] tidwall commented on #4
@mozinator  Very cool! Sounds like a super useful app.
Thanks for sharing!

[2016-09-18 18:17] olevole opened #57 "CRLF codes in info after bump from 1.3.0 to 1.4.2"
Hello,

On FreeBSD platform after upgrading of  tile38 from 1.3.0 to 1.4.2 version, on info command via CLI i've see \r\n codes in result json output. This is normal behavior ?

[code]

[2016-09-18 20:32] tidwall commented on #57
This is normal behavior. The INFO command attempts to match the [Redis](http://redis.io/commands/INFO) format, which has "\r\n" linebreaks.

If you enter `output resp` into the cli and then `info` you will see the intended output.

[2016-09-18 21:52] olevole commented on #57
Thanks for detail.

[2016-09-18 21:52] #57 closed

[2016-09-18 22:51] tidwall commented on #57
Your welcome :)

[2016-09-19 01:38] GameFreedom commented on #56
Hi,
I want to ask is the attribute query, not range queries

[2016-09-19 02:09] tidwall commented on #56
Are you wanting to get an attribute from a GeoJSON object?

Unfortunately Tile38 does not currently support queries on a GeoJSON attributes.

[2016-09-19 02:12] GameFreedom commented on #56
ok,thanks

[2016-09-19 10:40] huangpeizhi commented on #47
- prepare stable GPS data source, data real-time written to REDIS LIST.
- define a fixed number of fences, associated with fixed TILE38 KEY collection, trigger the ENTER and EXIT event.
- print out the trigger event.
- first define the 100000+ fence, at a rate of 3000 per minute GPS data source to a REDIS LIST, program a goroutine will write GPS to gochannel, another goroutine data set into the fe

[2016-09-19 11:05] tidwall commented on #47
Thanks. I'll see what I can do.

[2016-09-20 14:23] icewukong opened #58 "Can tile38 provide a persistence mechanism similar to RDB redis?"
Can tile38  provide the data in the dump tile38 to the file, and then start another tile38 server, load the dump file, similar to the RDB redis persistence mechanism? I have an application scenario that requires a quick start of a copy of the service, the larger the amount of data, the copy and load the AOF file is too slow.
If I want to achieve this function, what do you suggest?

[2016-09-20 15:20] tidwall commented on #58
No, Tile38 only has the AOF file. The AOF file can grow large over time, and the larger the AOF file, the slower the loading time.

There's a background routine that will automatically shrink the AOF file every now and then.
You can send an AOFSHRINK command which will force the shrink routine to start.

This should make the AOF file smaller, and load a little quicker.

[2016-09-22 01:37] icewukong commented on #58
I get, thx.

[2016-09-23 10:03] #58 closed

[2016-09-23 10:03] #56 closed

[2016-09-23 10:05] tidwall commented on #55
Hi GameFreedom. Were you able to solve the problem?

[2016-09-28 07:55] GameFreedom opened #59 "About field"
Hi,
for example,
1.nearby fleet where speed 70 +inf point 33.462 -112.268 6000.
Condition that speed is more than 70, but I hope speed equal to 70.
2.WHERE speed 70 +inf WHERE age -inf 24
‘Where’ is to use the ‘and’ connection here, I want to use the ‘or’ connection

Excuse me, have this command tile38? How should I write this sentence？

[2016-09-29 14:43] damariei opened #60 "Separate creation/updating of objects"
Right now, the `SET` command will either create or update an existing object if it already exists.
This means you cannot reliably know which action will occur.

Potentially, this could be fixed with transactions (i.e first a `GET` to match sure it doesn't exist, then `SET`), but transactions are not allowed either...

[2016-09-29 15:00] tidwall commented on #60
Transactions are not currently available. The only guarantee is that you can know if the SET was successful because the OK response.

Perhaps an update to the SET command would suffice.

We can add the [NX|XX] keywords, possibly add a RETURN keyword.

[code]
Thoughts?

[2016-09-29 15:03] damariei commented on #60
Makes sense to me, I was originally going to suggest an `UPDATE` command, but the `NX|XX` convention is more familiar from Redis it seems.

[2016-09-29 15:07] tidwall commented on #60
Cool. I think NX|XX is the logical path forward.

[2016-09-30 09:58] damariei opened #61 "Best way to add/query timestamp?"
It seems common to add something like a "timestamp" field to objects, and then be able to query for objects within a certain time.

One could use fields but this does not seem ideal as fields are not indexed, example:
`SCAN test WHERE time 1475229282 inf+`

This would have to iterate through each object in key `test`.
The `id` of objects itself is indexed so the time could be put as the id itself,

[2016-09-30 15:22] tidwall commented on #61
Hi Dmitri,

You should be able to query on the Z index using WHERE like this:

[code]

Tile38 is not fully optimized for three dimensional spatial indexing, so you may not see a big performance gain at this time. It's something that I've been working on, but it's taking some time to complete because it's requiring big changes to the Rtree structures.

I hope to have something in the near future. S

[2016-10-02 14:07] umpc opened #62 "Potential Replace Bug Corrupting the Index"
This may be out of the scope of tile38, but I wanted to at least mention it here for the author or incase someone else runs into this:

I've often noticed that when replacing previously inserted Feature objects, they disappear from the index, or corrupt the index entirely, but the item (id and obj), replaces correctly with the new value each time. This never happens with a small dataset. The datas

[2016-10-02 15:21] tidwall commented on #62
@umpc Thanks for reporting this.

I can confirm the issue on my side.  I'll need to investigate further and I'll keep you posted.

[2016-10-03 00:32] tidwall commented on #62
@umpc I just pushed an update to master that corrects this problem on my side. Please let me know if this works for you.

[2016-10-03 03:57] umpc commented on #62
@tidwall The update fixed the issue. 👍

I tested the index in the project where I discovered it and it worked there as well.

Thank you for your swift responses and for the fix!

[2016-10-03 03:57] #62 closed

[2016-10-03 03:59] tidwall commented on #62
You're welcome and thank you for the thorough bug report.

[2016-10-03 15:31] #60 closed

[2016-10-03 18:37] #61 closed

[2016-10-03 18:40] tidwall commented on #61
I just pushed an update that should address the performance issues with the `Z` field. Assigning a Timestamp to Z will provide very quick lookups.

[2016-10-03 18:42] tidwall commented on #59
@GameFreedom Sorry for the delay on the response. Unfortunately only AND is available at this time.

[2016-10-04 13:42] owaaa opened #63 "Question: Use Tile38 to de-dupe data?"
I have some data i want to de-duplicate geo-spatially.  I was trying to see if there is a way to see what data is near other data within a key. For example, people near people or place near place. I looked at the ROAM option within geofence but I don't think it works for me as the data is static . I could iterate through but wanted to see if there is a better way. Any ideas?

[2016-10-04 15:48] tidwall commented on #63
Hi Andrew,

That's an interesting problem. I agree that iterating through all of the data would not be the best way. There isn't any commands in Tile38 that are specifically for the purpose of de-duplication.

The ROAM option won't work because it's for actively changing data.

The best of what I can think of is the SPARSE option which returns 4,8,16,32,... objects from a query.

[code]

This will

[2016-10-04 16:27] owaaa commented on #63
Yea, I don't think there should be a specific feature for de-duplicating, I was just wondering if there was a clever way in Tile38 to compare geometries in a key vs other geometries in the same key.

[2016-10-07 06:59] umpc opened #64 "Missing points in 'Nearby' queries"
This is another bug I've discovered which likely affects tile38 itself, but exists in its collection package:

Certain query conditions cause the index to not return points which are within the given radius. I found these examples basically at random by experiencing them while querying an actual dataset within a project.

Could this have something to do with the wrap-around of longitude from aroun

[2016-10-07 07:19] umpc commented on #64
I noticed a new API format for 3 dimensions. I made sure it wasn't somehow fixed:

[code]

[2016-10-07 13:27] tidwall commented on #64
I haven't confirmed the issue on my side yet, but I agree that it's possible that the radius is too large for Tile38 to handle correctly. I'll review asap and keep you posted.

[2016-10-07 19:01] umpc commented on #64
I'm not sure that the large radii have much to do with the actual issue itself, switch the queries out for these for an example of what I mean:

[code]

In this other example below, using a smaller and a larger radius works, but the query with a radius in-between the two working examples does not work at all. In my examples, it loops through 3 times, and is deterministically not working at all:

[

[2016-10-09 02:55] umpc commented on #64
I have been looking into this this evening. The problem seems to occur when ```λ2``` inside of ```DestinationPoint()``` from ```geojson/geo``` is less than negative ```Pi```.

In each query that was not returning points at all, I was able to get them to finally send back some points by changing the ```bbox.Min.X``` to ```-180```, to force a a much wider search area when ```bbox.Min.X``` is less th

[2016-10-09 07:30] tidwall commented on #64
Thanks for the additional information. I plan on looking into this in more detail early next week.
On a side note the wrap around issue is automatically handled in Tile38 by separating rects that are outside  +-180/+-90 into multiple valid rectangles and then dynamically stitching them back together. There's a little bit more info about this in #18.
But of course there could be a bug in my algorit

[2016-10-09 08:08] umpc commented on #64
Ahh, it's good to know that it does actually handle that. I'll have to keep poking around then. Thank you for keeping up with this issue. (and all of the issues)

[2016-10-12 04:37] icewukong opened #65 "Is there a way to load data faster?"
Hi tidwall

I'm thinking about whether there is a quick way to load data.

For an AOF file that executed the shrink command, if you can split the AOF file in logic and load data in parallel with multiple threads, then the speed at which the service is started is faster.

How do you think about it?

[2016-10-12 13:03] tidwall commented on #65
I'm not sure if this is possible because the commands in the AOF are stored in order of execution. So they must be played back in exact order for the server to guarantee that it's in an identical state from when the server was shut down.

[2016-10-12 19:17] tidwall commented on #64
I've identified the problem. I'm working on fix and I'll keep you posted.

[2016-10-12 22:14] #64 closed

[2016-10-12 22:19] tidwall commented on #64
I just pushed an update to master that addresses this issue. Please let me know if you are still seeing problems. Thanks a ton for your help, yet again. :)

[2016-10-13 02:14] umpc commented on #64
Your fix does return many more points, but many are still missing. In the below example, I cannot get any points to return that are closer than 19,000km, when querying for -86, 20.25, using a radius of 20014km.

I added 10,000km to that just to test the behavior of it and then only points with distances around 9,000-11,000km are returned.

I noticed when using a 20,014km radius, that the latitude

[2016-10-13 08:45] umpc commented on #64
I am pretty sure that fixes it.

One mild performance caveat: If x min and max are the same and are equal to -180 or 180, then a search of the entire index is required with the current way of searching.

More info on what I implemented can be found here: http://janmatuschek.de/LatitudeLongitudeBoundingCoordinates

[2016-10-13 15:24] tidwall commented on #64
This is wonderful! I'm hoping to review #66 this afternoon. Thanks.

[2016-10-13 23:41] tidwall commented on #64
Looks good. Thanks a ton!

[2016-10-14 03:04] umpc commented on #31
I really wanted this functionality for saving time. If someone is interested in this, my local fork has the methods: https://github.com/umpc/tile38/commit/5b0620e68e731099fdedae79cb88c238c97764a8

If someone who uses fields/values would like to properly test them, perhaps it could be merged into Tile38. I have a hunch that this current implementation of the methods does not work properly for field

[2016-10-16 14:54] PapaStifflera opened #67 "Call the EXPIRE command hangs the server"
Call the EXPIRE command hangs the server.
Ubuntu 16.04 LTS
Release 1.5.0
[code]

[code]
Then server is hangs after call the SERVER (or STATS) command.

[2016-10-16 15:49] #67 closed

[2016-10-16 15:50] tidwall commented on #67
Thanks for reporting this issue. I just pushed an update to the master branch that fixes it.

[2016-10-19 19:00] gordysc commented on #4
If you want a super slim version of this, here's a Dockerfile for Alpine (3.4):
[code]

Image size is about 19.57 MB

[2016-10-19 20:58] tidwall commented on #4
@gordysc This looks good. I think could work as the template for the official image.

[2016-10-19 21:14] gordysc commented on #4
@tidwall The only addition we'd probably want to make is the mount point for data that's persisted to disk, so that can be done on an SSD outside the Docker container.  I haven't taken a look yet, but is there a flag to dictate where to persist data on disk? We'd probably want to have that be mounted to the volume: /data

[2016-10-19 21:23] tidwall commented on #4
@gordysc Yes. There a `-d` flag that allows for specifying a data directory.

[2016-10-19 21:32] gordysc commented on #4
@tidwall Beautiful! So just a few things to get this left to make this happen:

1. Creating an official Dockerhub repo
2. Adding automatic builds (https://docs.docker.com/docker-hub/builds/)
3. Adding logic to support the `-d` flag.

[2016-10-19 22:54] tidwall commented on #4
@gordysc OK. I'll take care of this and keep you posted. Thanks.

[2016-10-20 03:28] tidwall commented on #4
@gordysc I have the automatic builds enabled and create an automated build at https://hub.docker.com/r/tile38/tile38 which points to this project. I included master/latest and tags.

[2016-10-20 11:45] damariei opened #68 "Points do not return "z" coordinate"
If you create a point with a "z" coordinate and then try to "GET" this point, the "z" coordinate is not returned, even though it exists there.

[2016-10-20 11:47] damariei commented on #68
Disregard. It works as intended on new versions of tile38.

[2016-10-20 11:47] #68 closed

[2016-10-20 16:17] gordysc commented on #4
@tidwall will follow up with another PR this evening to update documentation/formatting for Dockerhub

[2016-10-20 16:19] tidwall commented on #4
@gordysc Is it possible to have custom dockerhub formatting? It looks like they pull in the Github README which has a mix of HTML and markdown.

[2016-10-20 23:43] thisisaaronland opened #70 "INTERSECTS – am I just doing something wrong or is there a bug?"
Hi,

First: Tile38 is full of good! Meanwhile, we are investigating using it for spatial queries with the [Who's On First](https://whosonfirst.mapzen.com) project. We've been indexing data using this:

https://github.com/whosonfirst/go-whosonfirst-tile38/blob/master/index/index.go

And everything seems fine and good when doing NEARBY queries. When doing INTERSECTS queries though, things start to g

[2016-10-21 00:07] tidwall commented on #70
I am super sorry. I can confirm that there's been a regression between 1.4.2 and 1.5.0.

I'm investigating now. Rolling back to 1.4.2 seems to correct this issue.

[2016-10-21 00:13] thisisaaronland commented on #70
Okay! That's good to know and we can rollback until a fix is in place. Will an AOF file created with 1.5.1 still work with 1.4.2 ?

[2016-10-21 00:17] tidwall commented on #70
I added the [NX|XX] expiration keywords to the SET command. If you are not setting ttl expirations on keys then you should be ok. Otherwise I can whip up a 1.4.3 hotfix that in the meantime.

[2016-10-21 00:20] thisisaaronland commented on #70
Great. We are fine for now, then (not using TTL flags).

[2016-10-21 00:50] #70 closed

[2016-10-21 00:54] tidwall commented on #70
Thanks so much for alerting me to this bug. I just pushed a new release 1.5.2 that addresses the problem. Please let me know if you run into any further issues.

[2016-10-21 01:48] thisisaaronland opened #71 "Question: Reloading a large AOF file (and running out of memory)"
This is a by-product of issue #70
1. We have an AOF file (produced by a version 1.5.1 instance of Tile38) that is ~17GB on disk and, when its all said and done, consumes about 24GB RAM on a 32GB machine. This is an AOF that has not been `SHRINK` -ed (so maybe that's the root problem?)
2. After backporting to version 1.4.2 we spun up Tile38 and watched it import the AOF file eventually running out

[2016-10-21 01:50] thisisaaronland commented on #71
I guess the follow-on question is: Is there a way to `SHRINK` the AOF file prior to or during import?

[2016-10-21 03:55] tidwall commented on #71
24GB of mem for a 17GB AOF seems like a lot. Does Tile38 crash when it runs out of memory? I've yet to experience an oom crash. If so, is this happening on a system with virtual memory?

At this time, there isn't a way to shrink the AOF until all of the data is loaded into memory. Perhaps a commandline option at startup.

I'm going to need to investigate further.

[2016-10-21 10:03] gordysc commented on #4
@tidwall No, but you can have a README specifically for Dockerhub.  You just have to isolate it w/ the Dockerfile in a separate directory.  The PR above should allow you to adjust the formatting and content you put on Dockerhub independently of your Github's main README

[2016-10-21 14:35] tomquas commented on #40
i couldn't get redis/redis-rb to work together with tile38 either. what _worked_ for me was amakawa/redic:
[code]

[2016-10-21 15:14] tidwall commented on #40
@tomquas Thanks for the suggestion. I added redic to the README.

[2016-10-21 19:12] thisisaaronland commented on #71
It's just a plain vanilla EC2/Ubuntu machine with defaults. I can reproduce the problem pretty reliably (see attached). In the meantime I will try throwing hardware at the problem and see what happens.

![screen shot 2016-10-21 at 11 57 57](https://cloud.githubusercontent.com/assets/12658759/19608644/7b029270-9787-11e6-91bf-f5a2a1c460f5.png)

[2016-10-21 20:15] thisisaaronland commented on #71
Passing these along in case they are helpful:

![screen shot 2016-10-21 at 13 10 26](https://cloud.githubusercontent.com/assets/12658759/19610260/5c3432e6-9790-11e6-8f77-2f873980772f.png)
![screen shot 2016-10-21 at 13 13 27](https://cloud.githubusercontent.com/assets/12658759/19610259/5c33ff42-9790-11e6-92cc-68d1dd5f477a.png)

[2016-10-21 20:20] thisisaaronland commented on #71
Also, this:

[code]

At which point the heap size starts to go a little crazy...

[code]

![screen shot 2016-10-21 at 13 18 48](https://cloud.githubusercontent.com/assets/12658759/19610364/10ac166c-9791-11e6-886e-a353b2c6eb6b.png)

[2016-10-21 20:28] tidwall commented on #71
Interesting. Does the heap lower after a while? Have you tried the GC command. (Executes a garbage collection)?

[2016-10-21 20:30] thisisaaronland commented on #71
The heap size does come down, eventually:

[code]

_Suddenly notices there is a `GC` command..._

[2016-10-21 20:35] thisisaaronland commented on #71
Executing `GC` returns:

[code]

All 8 CPUs spiked briefly and then went back down to hovering around 0. There is no significant change in memory usage. `htop` reports 50.1G total (VIRT) and 30.2GB resident (RES).

[2016-10-21 21:59] thisisaaronland commented on #71
FYI, this is what the graphs look like stopping and restarting the server (twice more) with the same AOF file after all the steps above:

![screen shot 2016-10-21 at 14 42 09](https://cloud.githubusercontent.com/assets/12658759/19613028/e1892f10-979e-11e6-800a-c9e36faee60d.png)
![screen shot 2016-10-21 at 14 57 33](https://cloud.githubusercontent.com/assets/12658759/19613029/e18e00c6-979e-11e6-9e0

[2016-10-21 23:57] tidwall commented on #71
Thanks for the all the data.

I'm looking to find ways to lower the memory usage on large datasets like the one you are working with. I have a few ideas on how to do so, but I'd like to produce a dataset similar to yours.

The SERVER command you provided gave a lot of details to the number of objects, point / object ratio, heap size, etc.

But could you help with a couple more questions:

1. What'

[2016-10-22 00:40] thisisaaronland commented on #71
The _average_ size is probably pretty small when you factor in the fact that most of the records will be venues, meaning points or in rare occasions simple polygons. No 3D objects.

That said there are about 4M simple to very complex polygons for postal codes and administrative places:

https://whosonfirst.mapzen.com/spelunker/placetypes/

One of the tenets of Who's On First is that any given reco

[2016-10-22 18:44] tidwall commented on #71
Your Who's On First project is really cool. I'm downloading and testing data from the links you provided. I'm hoping to get some insights over the next couple days. Thanks.

[2016-10-24 22:59] tidwall commented on #71
I just pushed an update to a new [memoptz](https://github.com/tidwall/tile38/tree/memoptz) branch. It's only a start but I made some simple changes that brought the heap size down about 5-10%.

Most of the extra overhead is coming from interfaces and pointer allocations in Go. I'm looking for ways to minimize as much as possible.

[2016-10-24 23:31] thisisaaronland commented on #71
Would it be helpful for me to throw our current AOF file at that branch or is it too soon?

[2016-10-25 02:24] tidwall commented on #71
Sure, if it's not too much trouble or time. Not major hurry from my side though.

[2016-10-25 06:36] huangpeizhi opened #73 "AOFSHRINK"
hi, tidwall,
In production environment is to use real-time data, update the KEY value of TILE38 system, build AOF large file size, how to clear the AOF file?
Only restart TILE38?

Thanks.

[2016-10-25 07:43] huangpeizhi commented on #73
Sometimes, after using the aofshrink command, tile38 failed to start.

![n8df24a9z](https://cloud.githubusercontent.com/assets/19602075/19676964/b7b74022-9ac9-11e6-8f88-c1d775b384f2.png)

[2016-10-25 07:49] huangpeizhi commented on #73
The production environment cannot clean the AOF file, this is a real problem.

[2016-10-25 13:36] tidwall commented on #73
It would be helpful to compare the AOF before and after of the AOFSHRINK. Is this something that you could share? Maybe in a private email?

[2016-10-26 01:37] huangpeizhi commented on #73
tidwall,

thank you for your answer!  i suggest two methods，
- one is AOFCLOSE false|true （default is false）,  can let users decide which action is need to record or distribute， What can be discarded.
- the second is to provide AOFSIZE nmb|ngb, configure an AOF file maximum size.

i tried more than once to execute the AOFSHRINK command and send the results to your email.
thank you for the TILE38 s

[2016-10-26 03:28] huangpeizhi commented on #73
hi, tidwall

I find that I use the LINUX version too low will cause the AOFSHRINK commands to handle the exception。

![1z098el](https://cloud.githubusercontent.com/assets/19602075/19712299/42b2e71c-9b6f-11e6-9b7d-9732bddb9054.png)

[2016-10-26 14:01] tidwall commented on #73
Hi huangpeizh1,

Thanks for the suggestions. I'll probably add the ability for AOFSHINK to occur automatically in the background in a future release. I'll keep you posted.

[2016-10-26 14:07] tidwall opened #74 "Autoshrink AOF in the background"
When an AOF file gets too large it should automatically shrink. This can be done in a background routine in a similar manner as BuntDB.

https://github.com/tidwall/buntdb/blob/27d3577d74cea0b53b4261365f08a38eff9671be/buntdb.go#L106-L116
https://github.com/tidwall/buntdb/blob/27d3577d74cea0b53b4261365f08a38eff9671be/buntdb.go#L556-L559

Where AutoShrinkPercentage is 100%, and AutoShinkMinSize is 32

[2016-10-26 18:59] Yugloocamai opened #75 "NOFIELDS doesn't seem to work"
Using tip of master, passing NOFIELDS has no effect.  It always returns all fields.

"SCAN [key] NOFIELDS" returns complete json objects

"NEARBY [key] NOFIELDS POINT 34.018161 -118.278846 10000" also returns complete objects

Perhaps I'm misunderstanding what NOFIELDS is intended to do, but adding or removing NOFIELDS does not change the response payload in any way.

[2016-10-26 21:07] tidwall commented on #75
Hi @Yugloocamai,

The NOFIELDS keyword only works with the fields that where defined using [FSET](http://tile38.com/commands/fset) or [FIELD](http://tile38.com/commands/set/#fields).

Perhaps the IDS keyword is what you are looking for:

[code]
Which returns only the object IDs, the objects are omitted.

[2016-10-27 00:09] thisisaaronland commented on #71
Finally got a few spare cycles to try this with the `memoptz` branch. The span of the graphs below is about 30 minutes.

[code]

![screen shot 2016-10-26 at 17 06 44](https://cloud.githubusercontent.com/assets/12658759/19749559/c6f8a906-9b9e-11e6-91d0-2855b97480a8.png)

[2016-10-31 07:16] GameFreedom opened #76 "About search and scan"
Hi,
I found a bug,for example,"http://localhost:9851/set+fleet+truck+string+"1234567890"",
then, I use the "search" query:"http://localhost:9851/search+fleet+match+ * 2 * ", It failed.
By the same token, the “scan“ method.
Look forward to your reply.
Thanks

[2016-10-31 07:22] icewukong commented on #76
It seems that the conditions behind the match can't start with a * .

[2016-10-31 16:05] damariei opened #77 "SET with XX creates an object even though it does not yet exist"
To reproduce:
`SET test obj XX point 5 5`

Then:
`SCAN test match obj`

The object shows up even though `XX` should prevent creation.

[2016-10-31 17:16] #77 closed

[2016-10-31 17:17] tidwall commented on #77
Thanks for reporting this bug. I pushed a fix to the master branch.

[2016-11-02 07:29] umpc commented on #71
@tidwall This may or may not help, but removing the interface-typed ID field and replacing the Properties ```map[string]interface{}``` with a ```[]byte``` containing marshaled JSON, in the ```Feature``` type, reduced HeapAlloc by roughly 30% in my case (all Objects are Features).

This was using master, so the memoptz branch could reduce it further.

At the risk of stating the obvious:
[code]
etc.

[2016-11-02 13:44] tidwall commented on #71
@umpc Great tip. I went ahead and removed the `map[string]interface{}` and added a string field that contains the id+properties. This should be very small in memory without losing the Id.

I didn't actually see an improvment in HeapAlloc from the test bundle that @thisisaaronland provided, though I don't think features were being used in that dataset.

I also removed the "encoding/json" package in

[2016-11-02 15:05] thisisaaronland commented on #71
I will pull from `memoptz` and try a re-index later today.

[2016-11-02 16:15] #76 closed

[2016-11-02 21:54] thisisaaronland commented on #71
Just to confirm, those changes to the `memoptz` branch help. As in: the Tile38 server is able to load the AOF file and serve requests:

[code]
Updated memoptz branch:

![screen shot 2016-11-02 at 14 47 28](https://cloud.githubusercontent.com/assets/12658759/19948821/db7b7c56-a10b-11e6-8009-94cc0c52a5df.png)

Old and new memoptz branches (with the old one getting oom-killed):

![screen shot 2016-11

[2016-11-02 22:31] tidwall commented on #71
@thisisaaronland Moving in the right direction. I think the changes @umpc recommended cut down on the pointer allocations quite a bit.

Also I haven't had a chance to test the Go 1.8 beta yet, but it's suppose to provide some big improvements with the memory management arena. I hoping to get around to it in the next few day.

[2016-11-03 18:34] thisisaaronland opened #78 "Question: Is it possible to list the names of each collection in an index?"
I have a bad habit, particularly during development and debugging, of giving collections names that I then immediately forget.

I have poked around and it's possible to list the names of all the collections in an index the "how" of doing so eludes me.

[2016-11-03 18:41] tidwall commented on #78
The command is [KEYS](http://tile38.com/commands/keys/).

[code]

Will return all collections.

The docs are confusing because collections are sometimes called keys, and objects are sometimes called ids. This is something that I want to clear up at some point.

[2016-11-03 19:04] thisisaaronland commented on #78
Perfect, thanks!

[2016-11-03 19:04] #78 closed

[2016-11-05 21:30] umpc commented on #71
You might not be aware of this, but it appears that the loop in the new ```Feature.getRaw()``` method, used to split the ID and Properties, takes a significant amount of time, depending on the workload.

[code]

Seeing how the ID is already stored separately, is always passed into the iterator function for each result, and no code appears to depend on having the ID included in the marshaled JSON s

[2016-11-07 20:04] tidwall commented on #71
I just pushed an update that should help with performance of the `getRaw` function.

Tile38 only cares about the collection ID:
[code]
The GeoJSON "id" field doesn't really matter to Tile38 and it can be any valid [json object](http://geojson.org/geojson-spec.html#feature-objects), even null or non-existent:
[code]

The same applies to the json "properties" field. Neither field is used by Tile38.

[2016-11-07 20:29] umpc commented on #71
You're right. I had overlooked those from the spec and only had "type," "geometry," and "properties" (which are what I use) in mind.

With Tile38 being used for geofencing and similar actions that may not have properties, I could see something like this being justified, though in my opinion, I think that this kind of truncation would be best left to the user/developer in order to keep the redis an

[2016-11-07 22:01] tidwall commented on #71
Good point, I agree that we should just keep the API as is.

[2016-11-09 16:35] tidwall opened #79 "Add ability to search object nearby other objects."
Currently the NEARBY command only supports a radius search around single a point, such as:

[code]

But is would be great to add the ability to search nearby other objects such as:

[code]

Under the hood the NEARBY command would need to generate a new polygon from the linestring by "buffering" the linestring using an algorithm like the [Minkowski Sum](https://en.wikipedia.org/wiki/Minkowski_addit

[2016-11-09 18:16] thisisaaronland commented on #71
Passing along FYI. This is what I see when I spin up the (17GB) AOF file with the latest version of the `memoptz` branch:

[code]

![screen shot 2016-11-09 at 10 14 39](https://cloud.githubusercontent.com/assets/12658759/20149266/60a8691c-a665-11e6-8114-d762e98a48c2.png)

[2016-11-09 18:32] thisisaaronland opened #80 "Question: replication"
A couple questions about replication:

* Is it possible to determine whether a given is a leader or a follower from one of the "server" commands? If it is I can't seem to figure out how.

* Will a machine follower-iness persist across Tile38 restarts or does it need to told each time?

Thanks,

[2016-11-09 19:11] tidwall commented on #80
It is always assumed that server is a leader unless the `following` field from the [SERVER](http://tile38.com/commands/server/) command is specified. Also you can check the state of the AOF replication by checking the `caught_up` field on the follower. Finally the `read_only` field will be set to `true` for followers.

- following: When in follow mode, this is the address of the leader.
- caught_u

[2016-11-09 19:23] thisisaaronland commented on #80
Great, thanks!

[2016-11-09 19:23] #80 closed

[2016-11-09 19:33] tidwall commented on #80
You're welcome :)

[2016-11-09 19:39] tidwall commented on #75
@Yugloocamai Let me know if you need further help and thank for your interest in Tile38.

[2016-11-09 19:39] #75 closed

[2016-11-10 09:31] icewukong opened #81 "Can tile38 add the cross domain access support ?"
Because tile38 runs in a independent container, I would like to directly access tile38 in web project, this will appear across the domain problem.

[2016-11-10 11:10] tidwall commented on #81
You will need to use the [Websockets](http://tile38.com/topics/network-protocols#websockets) interface or to put it behind a project like [JSONP](https://en.wikipedia.org/wiki/JSONP#Cross-domain_requests_using_a_proxy_server).

[2016-11-14 02:21] GameFreedom opened #82 "The precise search"
Hi,
For example,
localhost:9851/set+terminal+truck+string+123
I use the 'search' 'approach to precise search：localhost:9851/search+terminal+match+123.
Returns the result is empty.Only when using the '*' number have a result

[2016-11-14 05:29] icewukong commented on #81
thx!

[2016-11-14 05:43] icewukong opened #83 "Coordinate cross-border judgment"
I send tile38 coordinates of a cross-border, for example:

`SET fleet truck1 POINT 95.5123 -191.2693 245.0`

Service will not respond. Whether there should be a wrong protection, if I sent out the coordinates, service returns an error.

 I am not sure whether this method is suitable that Tile38 check the coordinates when receiving data.
But  it cannot hinder other operations at least

[2016-11-14 06:36] umpc commented on #83
Hi. What is the version of Tile38 that you're using and how are you connecting to the server?

I tried this on [master](https://github.com/tidwall/tile38/tree/master) and I was able to use the included CLI to add the point and then look for it:

[code]

[2016-11-14 06:54] icewukong commented on #83
v1.5.2.
I am sorry, I made a mistake, my coordinates are 1.3e98, cause the service no response.
With the increase in the number of coordinates, the time of service impact will be more and more slow, and ultimately will not be able to respond.

In order to avoid this problem, what do you suggest?

[2016-11-14 07:30] umpc commented on #83
I can confirm that using ```SET``` with coordinates in scientific notation does hang the server, but isn't hanging inserts or nearby queries in the collection package itself.

I suggest filtering input to only allow valid parameters according to your application's requirements to be used in index queries. That logic goes for any system that accepts untrusted user input.

[2016-11-14 07:45] icewukong commented on #83
Thank you for reply！

[2016-11-14 17:26] #83 closed

[2016-11-14 17:32] tidwall commented on #83
I pushed a fix that should address this problem with regards to points.

This issue is a bit more [complicated](https://github.com/tidwall/tile38/blob/master/index/norm.go#L55-L74) for rectangles and as of right now the slowness still exists.

[2016-11-14 18:05] #82 closed

[2016-11-14 18:05] tidwall commented on #82
Thanks for reporting this issue. I pushed a fix to the master branch.

[2016-11-17 08:02] GameFreedom commented on #82
Hi,
Now,i find a problem.First,our total data volume is 55 million
1.‘*’ in front .For example, search+A+match+*123,time consuming 30s,it's too slow.
2.Three concurrent queries,CPU with 16 core reach 100 percen

[2016-11-17 09:54] tomquas opened #84 "bogus hook endpoint causes server to hang on roaming geofence"
hi, i think i came across an issue which causes the server to hang for good.

Tile38 version 1.5.2, git a38228c on Ubuntu 14.04.5 LTS, Trusty Tahr

i tried to replay the roaming geofences example from http://tile38.com/topics/roaming-geofences/, and this is what happened, from the logs of tile38-cli:

127.0.0.1:9851> sethook myhook https://127.0.0.1/hook nearby people fence roam people * 5000
{"ok

[2016-11-17 10:06] tomquas commented on #84
just checked with freshly release 1.5.3, same issue

[2016-11-17 15:30] tidwall commented on #82
When a pattern begins with a star the entire collection will be scanned. The operation is O(n).

[code]
Starts at the first value and scans all 55 million for matches.

[code]
Jumps to the first value that starts with "f" and scans items for matches. It stops searching upon encountering a value that does not start with "f".

I advise against using the star prefix for huge collections.

[2016-11-17 16:03] #84 closed

[2016-11-17 16:05] tidwall commented on #84
Hi Tom,

Thanks a bunch for reporting this. I just pushed a hotfix to the master branch. I'll publish a minor point release shortly.

[2016-11-17 16:06] tidwall commented on #81
You're welcome!

[2016-11-17 16:06] #81 closed

[2016-11-18 10:59] huangpeizhi opened #85 "grpc reconn trigger condition？"
thanks!

[2016-11-18 14:08] tidwall commented on #85
Hi @huangpeizhi,

Could you provide detail on this issue?

[2016-11-18 15:30] huangpeizhi commented on #85
sorry，
I look at the code described in the grpc.go，
grpcExpiresAfter = time.Second * 30

I don't know the connection expires, when new messages, will re-establish the connection with the GPRC server？

thanks!

[2016-11-19 11:42] huangpeizhi opened #86 "Server() method in helper.go Problem"
hi, tidwall:

While i trying to get service status, call method Server() in  helper.go, Error occurs:
%s invalid character '\x00' looking for beginning of value
 %s invalid character '$' looking for beginning of value

why?

[2016-11-19 14:11] tidwall commented on #86
I'll look into this. Would it be possible to provide the error message in its entirety?
Thanks for reporting.

[2016-11-19 15:44] huangpeizhi commented on #86
![image](https://cloud.githubusercontent.com/assets/19602075/20456436/aa75d03a-aeb1-11e6-9adf-a755ed521443.png)

![image](https://cloud.githubusercontent.com/assets/19602075/20456441/c8f70416-aeb1-11e6-803a-5a05b82c45fe.png)

Execute the following code will appear above the output problems.

[2016-11-19 17:12] tidwall commented on #86
I would like to reproduce this error. Which client library are you using?

[2016-11-19 23:43] huangpeizhi commented on #86
https://github.com/go-redis/redis

[2016-11-20 17:35] tidwall commented on #86
Thanks for providing the example code.

%s invalid character '\x00' looking for beginning of value
%s invalid character '$' looking for beginning of value

Do you know which line number this error is occurring on?

[2016-11-21 01:11] huangpeizhi commented on #86
Before using this approach，
![image](https://cloud.githubusercontent.com/assets/19602075/20467851/150449f4-afca-11e6-90dc-1ecaa862649f.png)

Errors caused by m.statTs().
[code]

[2016-11-21 03:33] huangpeizhi commented on #85
If 30 seconds is not sending data, GPRC connection is dropped?
If this is the case, can provide a heartbeat approach to maintaining connections?

[2016-11-21 04:02] tidwall commented on #85
An idle connection to a grpc endpoint is closed after 30 seconds. A new connection is automatically established when a grpc message is sent to the endpoint. Tile38 handles the all connections is the background.
You should not need to add a heartbeat.

[2016-11-21 04:03] tidwall commented on #86
Thanks. This is helpful. I'll try to fix is asap.

[2016-11-21 06:45] huangpeizhi commented on #85
@tidwall , thanks!

[2016-11-21 17:17] tidwall commented on #85
You're welcome. :)

[2016-11-21 17:17] #85 closed

[2016-11-21 18:07] tidwall commented on #86
I'm unable to reproduce this error.

One thing to note is that the `github.com/tidwall/tile38/client.Conn` object is not thread safe. I noticed that you are creating a connection in the `initTile38()` function, and then using the connection in both a goroutine and in a the `statTS()` function. It's possible that the read data is being corrupted. If so, this would lead to problem that you are seein

[2016-11-23 04:51] huangpeizhi commented on #86
@tidwall ，
Thanks,  Looks like this causes， i changed REDIS use libraries.

[2016-11-23 04:54] #86 closed

[2016-11-23 05:05] huangpeizhi opened #87 "Recommendations of the fencing event"
Hi, @tidwall

In the fencing event, each ENTER and EXIT are belong to the same group, you can consider adding a unique identity in the event of recognition?
This can be avoided, while many fences ENTER/EXIT after the information storage, sorted in order to know each Member of the Group

thanks!

huangpeizhi

[2016-11-23 12:52] tidwall commented on #87
I can add a unique event_id for every such as:

[code]
Would this be helpful?

[2016-11-24 05:05] huangpeizhi commented on #87
I want is a set of events that are associated with the identification , in determining the entity in and out of the fence, the ENTER/EXIT event is associated.

![image](https://cloud.githubusercontent.com/assets/19602075/20587205/9b579ea6-b246-11e6-9e0f-97c1a0b23adf.png)

[2016-11-24 09:57] huangpeizhi opened #88 "fence intersect question"
Hi, @tidwall

I use the following two commands would ENTER event is triggered, but the two fence do not intersect， why ?

- SET kyfx 粤A72359 BOUNDS 23.149918000 113.247352000 23.149918000 113.247352000
- SETHOOK 9S0X20 grpc://127.0.0.1:9876 INTERSECTS kyfx FENCE DETECT enter,exit OBJECT {"type":"Polygon","coordinates":[[[113.24775458,23.14942742],[113.24744345,23.1493337],[113.24706257,23.15041884

[2016-11-24 20:48] Miserlou opened #89 "Secure HTTP Endpoints // Make RESTFUL // CSRF"
It looks like tile38 is vulnerable to command injection via the browser, as modifications to the database happen over GET rather than POST requests. For example, I can add an iframe to a page with src `localhost:9851/set+fleet+truck3+point+33.4762+-112.10923` and modify the database. This leaves all developers and operators who use tile38 open to a nasty attack. (Related examples: http://bouk.co/b

[2016-11-25 01:22] huangpeizhi commented on #88
I'm sorry, I was wrong.

[2016-11-25 01:22] #88 closed

[2016-11-26 03:57] huangpeizhi commented on #87
what is it combined of event_id?

[2016-11-26 03:57] huangpeizhi commented on #87
what is it combined of event_id?

[2016-11-28 18:25] tidwall commented on #87
Sorry for the delayed response.

I think I understand now. So you would like to have your messages grouped by the "enter"/"exit" events?

Perhaps something like this:

[code]

This is a good idea and I think that it's possible, but I'll need to dig a little deeper before making promises.

[2016-11-29 03:41] huangpeizhi commented on #87
Yes, it is.
Because, in practice, many in/out is does not meet the requirements and need to remove certain conditions.

-:)

[2016-12-01 06:33] huangpeizhi commented on #73
Hi, @tidwall

Because now I'm using TILE38 as fences in and out of the service, this application is run, so I'd like to know, AOFSHRINK not realize cases, is there any reliable way to clear the AOF log.

thanks!

[2016-12-01 06:53] huangpeizhi commented on #74
Hi, @tidwall

Because now I'm using TILE38 as fences in and out of the service, this application is run, so I'd like to know, AOFSHRINK not realize cases, is there any reliable way to clear the AOF log.

thanks!

[2016-12-01 10:03] #55 closed

[2016-12-01 10:04] #52 closed

[2016-12-01 13:39] tidwall commented on #74
I'm closing this issue and pointing it to #73

[2016-12-01 13:40] tidwall commented on #73
Hi @huangpeizhi

I'm looking into this issue today and I'll keep you posted.

[2016-12-02 01:21] tidwall commented on #89
Hi Rich,

Thanks for the suggestions and for providing the link.

I totally agree with you. I've been intending on deprecating the RESTful APIs in the 2.0 release, but I think this may be cause for doing it sooner.

[2016-12-05 02:45] icewukong opened #90 "Need an example for Websockets"
Hi,tidwall
When we use the mobile terminal to access the tile38, in a large loop at the same time sent tens of thousands of HTTP requests, TCP tile38 connection is exhausted.
I would like to use WebSockets to send these requests, so that I can only build one TCP connection to send these http requests.
Can you give an example of a WebSockets request to be sent through curl?

[2016-12-05 08:15] icewukong commented on #90
[code]
I get the output:
[code]
What is the correct parameter?

[2016-12-05 08:59] icewukong commented on #90
Only the complete command written to the URL can get the correct results.
`var url = "ws://localhost:9851/get+test+11"`
output：
`Receive: {"ok":true,"object":"22","elapsed":"0s"}`

But each command requires the establishment of a websocket connection, and can not reuse the connection.

[2016-12-05 14:36] antonioromano opened #91 "CirclePolygon function wrong winding order"
The polygon returned by the method has winding clockwise, while it should be counterclockwise for any external linear ring in polygons.
Are you sure your is the right behavior?

https://github.com/tidwall/tile38/blob/master/geojson/object.go#L429

[2016-12-05 14:50] tidwall commented on #91
You are right. I'll switch it over to ccw order and poke around a bit.

Are you running into an issue related to this with Tile38 or are you using the GeoJSON library externally?

[2016-12-05 14:53] antonioromano commented on #91
Both, but we run into the issue using it as a library. I think that is one of the most complete geoJson library for golang.
Thank you very much

[2016-12-05 14:58] antonioromano commented on #91
You can fix it by computing the angles counterclockwise, for example like this (line 439):

`for deg := 360.0; deg > 0; deg -= step`

[2016-12-05 15:08] #91 closed

[2016-12-05 15:09] tidwall commented on #91
Good tip thanks! I just pushed a fix. Let me know if this works for you.

[2016-12-05 16:14] tidwall commented on #90
Hi @icewukong,

I don't recommend using Tile38 and Websockets. I'm deprecating HTTP and Websocket clients in a future release.

Please use a Redis-compatible library such as [Redigo](https://github.com/garyburd/redigo).

[2016-12-05 23:27] tidwall commented on #73
I pushed an update to the master branch that addresses this issue. Corruption should no longer happen when issuing an AOFSHRINK command.

I'm still working on the autoshrink method, but I wanted to get this done first.

Thanks for your patience.

[2016-12-06 01:13] icewukong commented on #90
I get it and suggest retain HTTP support！

[2016-12-06 04:45] huangpeizhi commented on #73
@tidwall
thanks!

![image](https://cloud.githubusercontent.com/assets/19602075/20913173/88ca495a-bbb0-11e6-85e3-74beade3f3a3.png)

I have configured AOFSHRINK command in CRONTAB , cleaned every hour AOF log, thank you so much for your help！

[2016-12-06 04:55] tidwall commented on #73
That's great to hear! Let me know if you run into any problems and thanks a ton for your help.

[2016-12-06 09:24] icewukong commented on #90
Hi,@tidwall,

I write a websocket server with golang,and use tile38 client's connection pool to send data with tile38 to solve connection depletion problem.

Thanks your suggestion ！

[2016-12-06 09:33] icewukong commented on #90
By the way,about autoshrink AOF,I suggest that you can set a switch to close autoshrink,because I had used characteristics of AOF to realize finding incremental database for a period of time.

If autoshrink can't close,after the new version is updated, the already deployed program of mine will not be able to use again!

[2016-12-06 11:29] huangpeizhi commented on #87
Hi, @tidwall

Note the same machine multiple tile38 process，tile38 can't produce the same group_id，can refer to mongodb objectid.

[2016-12-06 12:06] tidwall commented on #90
I understand that HTTP support is very useful for cURL users. I won't remove HTTP and Websocket support completely. I just don't recommend using it and in the future I'm going to require a flag at startup such as:

[code]

[2016-12-06 12:09] tidwall commented on #90
Good point, I'll make sure to have config options to adjust frequency or disable the feature.

references #74

[2016-12-06 12:13] tidwall commented on #74
I'm reopening this issue and I plan on implementing this feature soon.

[2016-12-06 12:14] tidwall commented on #73
I'm closing this issue for now. Feel free to reopen if see any further issues.

[2016-12-06 12:14] #73 closed

[2016-12-06 12:21] tidwall opened #92 "Deprecate HTTP and Websocket Support"
For security reasons (#89) I believe that support for HTTP and Websockets should be deprecated. We won't completely remove support, but Tile38 will require a flag at start up such as:

[code]

reference #89 #90

[2016-12-06 12:23] tidwall commented on #89
I have a fix on the roadmap, so I'm closing this issue for now. Please feel free to reopen if you have any question or concerns. Thanks a ton for your help.

[2016-12-06 12:23] #89 closed

[2016-12-06 12:29] tidwall commented on #59
I'm closing this issue for now. Please feel free to reopen if you have any questions or ideas around this feature.

[2016-12-06 12:29] #59 closed

[2016-12-06 12:31] tidwall commented on #65
The latest push to master should speed up loading by about 10%.

[2016-12-06 12:39] tidwall commented on #29
The custom endpoint interface has been in use in production for a couple months. I would be more than happy to advise anyone who wants to add a custom implementation such as MQTT.

[2016-12-06 12:42] tidwall commented on #29
It may also be worth noting that with next release of Go 1.8 could possible extend the custom endpoints to support [Go Plugins](https://jeremywho.com/go-1.8---plugins/)

[2016-12-06 13:20] #26 closed

[2016-12-06 13:23] tidwall commented on #25
I finally got around to fixing this issue. You can now issue an INTERSECTS on a point:

[code]

Though it's not possible to do a WITHIN because a within search find all objects that are fully contained inside of an object. And in your case that a Polygon cannot be fully inside a Point.

Let me know if you run into any problems and thanks for finding this bug.

[2016-12-06 13:23] #25 closed

[2016-12-06 13:25] tidwall commented on #71
FYI, I merged the memoptz branch with master yesterday.

[2016-12-06 13:34] tidwall commented on #27
I'm consolidating request into one issue at #54

[2016-12-06 13:34] #27 closed

[2016-12-06 13:47] #35 closed

[2016-12-06 13:51] tidwall commented on #47
Hi @huangpeizhi,

Is this issue still valid?

[2016-12-06 17:32] tidwall commented on #87
I just pushed a build to master that groups with the key "group" and uses the BSON ObjectID format.

Let me know if this works for you.

[2016-12-07 00:28] icewukong commented on #90
Thank you for your project to give me a lot of help.

[2016-12-07 01:53] thisisaaronland commented on #71
Thanks!

We managed to again blow up our memory usage so we've shelved that particular use of Tile38 but I think that we will continue to use it (with less data overall) in a different setting.

I will try to test all of this out shortly.

[2016-12-07 04:25] tidwall commented on #90
You're welcome. I greatly appreciate all of your feedback.

[2016-12-07 04:28] tidwall commented on #71
You're welcome and thanks a bunch for helping work through the optimizations.

[2016-12-07 09:41] huangpeizhi commented on #87
@tidwall,

Thank you very much, I've put the GROUPID in database, inspection data.
![image](https://cloud.githubusercontent.com/assets/19602075/20962462/55a347d0-bca4-11e6-9db3-6080965576ce.png)

[2016-12-07 14:29] tidwall commented on #87
That's great to hear. Let me know if there's anything you need.

[2016-12-08 09:20] huangpeizhi commented on #87
@tidwall ,
Running one day, no problem, i close the issue, if problems are found, then reopen.

thanks!

[2016-12-08 09:21] #87 closed

[2016-12-08 15:22] amorskoy opened #93 "Push object strings into hooks"
Suppose example from tutorial:

SET people bob POINT 33.01 -115.01
SET people alice POINT 33.02 -115.02
SET people alice:lastname STRING "Denton"
SETHOOK myhook http://10.0.1.5/hook NEARBY people FENCE ROAM people * 5000

Currently hook's POST data does not contain alice:lastname. Is it possible to have?

[2016-12-08 17:00] tidwall commented on #93
Hi @amorskoy,

This is not currently possible. A roaming geofence only passes the id, key, and distance of the nearby matches. This is by design to keep the notification as lightweight as possible.

Then you would need to issue a SCAN command for `alice:*`. Let's say you get the  notification:
[code]
and then you can send:
[code]
to retrieve the all child strings of alice.

Would this work for you

[2016-12-09 08:03] amorskoy commented on #93
Thanks @tidwall .
I believe, that SCAN at the end of SETHOOK (when it is implemented) would be great thing.
I agree with you about traffic overhead - but in fact, without such feature I should keep shadow copy of objects in <key, value_object> store (like memcached or more comple noSQL solution) - wich complicates architectural things.
So voting for SETHOOK ..... FENCE ROAM .... SCAN :)

[2016-12-09 12:13] amorskoy opened #94 "Batch SET via http"
The the I am trying to do is to make batch of commands like
`SET boundies ca_bounds_poly.23197 OBJECT {"type":"MultiPolygon","coordinates":[[[[-122.2823,37.8721],[-122.2733,37.8733],[-122.2731,37.8715],[-122.282,37.8704],[-122.2823,37.8721]]]]}
`
 ... and send them via http interface (<30K lines ~ 12MB)
As the result I get an error:
`{"ok":false,"err":"invalid character 'S' after top-level value",

[2016-12-09 15:21] amorskoy opened #95 "Wrong meters in Hook for Fence roam"
Given this command
`sethook myhook http://172.17.0.1:9999/ nearby cars fence roam boundies * 100`

I am expecting objects within 100 meters (coord accuracy is 6 digits after comma):

Boundies is multipolygon:
`get boundies ca_bounds_poly.10875
$2660
{"type":"MultiPolygon","coordinates":[[[[-121.947456,38.527096] ......`

Car is of Point type:
`{"type":"Point","coordinates":[-121.828979,38.529581]}

[2016-12-09 15:31] tidwall commented on #94
HTTP is not the best protocol for mass insertion. I don't think the Tile38 HTTP implementation supports more than one command per request. Sounds like this is too slow for your use case.

The other option is use the Redis protocol, which is what Tile38 uses natively. Every command is formatted like:
[code]

So the command:

[code]

would look like:

[code]

Each line ending must be `<cr><lf>`.

Fo

[2016-12-09 15:34] tidwall commented on #95
I would like to reproduce this error. Would it be possible for you provide the complete `ca_bounds_poly.10875` object?

[2016-12-09 15:36] amorskoy commented on #95
Sure:
{"type":"MultiPolygon","coordinates":[[[[-121.947456,38.527096],[-121.944623,38.528933],[-121.942422,38.532466],[-121.941547,38.533068],[-121.940285,38.533384],[-121.932773,38.531503],[-121.929447,38.530381],[-121.925323,38.529705],[-121.921099,38.529555],[-121.919771,38.529914],[-121.914104,38.529534],[-121.908969,38.529576],[-121.904146,38.530942],[-121.900484,38.532378],[-121.897076,38.53

[2016-12-09 15:39] amorskoy commented on #94
Thanks @tidwall
I will try to master method mentioned. I want to avoid lowe level Redis TCP socket usage - but now I got direction.
Thanks

[2016-12-09 15:39] #94 closed

[2016-12-09 15:49] amorskoy commented on #95
@tidwall I believe the deal is geojson/multipolygon.go, function:

[code]

As a quick suppose - **meters** in a hook representing distance between car and boundy **centroid**.
While expected is the distance between car and nearest boundary of multipolygon  ca_bounds_poly.10875.
But the questino is how to distinguish 2 different cases:
* car is out of  ca_bounds_poly.10875, but less then 100 meters

[2016-12-09 15:52] amorskoy commented on #95
Little correction - it is not a centroid - but a center of exterior bbox containing the ca_bounds_poly.10875

[2016-12-09 17:05] tidwall commented on #47
Hi @huangpeizhi, I'm closing this for now. I think that most of the concerns in this issue have been resolved. If not, please open a new issue and I'll help. Thanks!

[2016-12-09 17:05] #47 closed

[2016-12-09 17:14] tidwall opened #96 "Add SCAN to Roaming Geofences"
This is in reference to the issue #93 filed by @amorskoy.

For example, the following command:

[code]

Which would result in notification that looks like:

[code]

But if you want additional details about `alice`, you should be able to enter:

[code]

Which would do a `SCAN alice:*` prior to sending each notification and the result would look like:

[code]

Where the `objects` field includes all

[2016-12-09 17:16] tidwall commented on #93
Sounds good. I think this is doable. I'm moving this to #96 now.

[2016-12-09 17:16] #93 closed

[2016-12-09 17:20] tidwall commented on #95
This is a limitation of the ROAM command. It was designed to work primarily with a point-to-point relationship. For large geometries, the center of the object's bounding box is used.

The original design of the command was to fill the need of a vehicle pickup app (person-to-car), and a proximity social network app (person-to-person). In both cases the objects are small enough to be represented as

[2016-12-09 18:11] tidwall commented on #92
This should target 2.0 release so we don't break 1.0. Until then, perhaps we should add the `--disable-http-transport` for 1.0.

[2016-12-13 14:23] amorskoy opened #97 "Contributing with Jetbrains IDE"
Seems to be too stupid question, but, anyway...
I was able to build Tile38 Go project and run it.

Now my target is run Debug in IntelliJ Idea with Go plugin.
Despite different FAQ's on this topic present, I was not able to run Tile38 server's main.go via IDE:

"go get" was performed to retrieve exteral imports into GOPATH (/var/www/GO/deps)

Here is IDE's output in run and debug (same):

`GOROOT=

[2016-12-13 16:06] tidwall commented on #97
Hi @amorskoy,

Strange. Tile38 is completely vendored so it shouldn't be looking for external dependencies.

I think it's generally not advised to have the GOROOT in the GOPATH. What happens if you remove the `/opt/go` from GOPATH? Such as:

[code]

[2016-12-14 08:15] icewukong opened #98 "JSET, JGET, JDEL commands does not work"
Hi,@tidwall
Whether these commands have been completed?
I tested it, found that the data has not been written to the AOF file, the data can not be queried out.
JSET, JGET, JDEL commands support geojson? I mean, if this can deal with the geometry and attribute data in geojson, respectively?

[2016-12-14 14:24] amorskoy commented on #97
Hi @tidwall
I was able to run Debug under IntelliJ Ide, but for that purpose I had to reorganize an IDE project a little bit:

`mkdir Tile38Project/src/github.com/tidwall
 cd Tile38Project/src/github.com/tidwall
git clone https://github.com/amorskoy/tile38
`

And then I have imported Tile38Project dir as Go project, removed GOROOT from libs, add Tile38Project as the only library dir.

Now I am abl

[2016-12-14 14:24] #97 closed

[2016-12-14 14:31] tidwall commented on #97
Very cool. I think I'll give it a spin to see how the debugging works.

[2016-12-14 14:36] #98 closed

[2016-12-14 14:57] tidwall commented on #98
Thanks for finding this bug. I pushed a fix to the master branch.

The commands are very new and they're intended to manage user-defined JSON documents. They are complete and should be ready to use.

Yes. But it's important to note that while JSET and JDEL can be used to modify an existing geojson object value, the `SET` and `DEL` should be used to create new objects or delete existing ones. JGET

[2016-12-15 00:54] icewukong commented on #98
Expect:
[code]
Although the data is written to the aof, JGET command did not query out the results:
`{"ok":true,"value":"","elapsed":"0s"}`

[2016-12-15 01:17] tidwall commented on #98
Thanks. I just pushed a fix.

[2016-12-15 01:50] icewukong commented on #98
Support search command？
I mean, like "where clause", query in a KEY.

[2016-12-15 02:46] tidwall commented on #98
At the moment there's only the ability to query one document value at a time. But I plan on adding full indexes and searching like SummitDB https://github.com/tidwall/summitdb#json-documents

[2016-12-15 05:23] icewukong commented on #98
That would be wonderful   :)

[2016-12-15 16:02] amorskoy opened #99 "SETHOOK and DEL event"
I believe, that it would be nice idea to have event subscription mask setup during **SETHOOK**

Currently **del**, **drop** and **set** events causes hook to fire.

In my case I am using ~20000 web hooks, and **del** is not interested. Moreover, it produce unneccessary traffic to endpoint.

I would be nice to specify that 'set' is the only interesting event during **SETHOOK** declaration

[2016-12-15 16:18] tidwall commented on #99
Sure, this is doable.

[2016-12-15 18:38] #96 closed

[2016-12-15 18:38] #99 closed

[2016-12-15 18:43] tidwall commented on #99
I just pushed an update that adds the `COMMANDS` keyword. It works like the `DETECT` keyword.

[code]

Will only send **set** and **del** commands.

[code]

Will only send **set** commands.

When the COMMANDS keyword is not provided, all notifications are sent.

Let me know if this works for you.

[2016-12-15 19:35] amorskoy commented on #99
Nice job @tidwall  - thanks - It will be super useful for my Tile38 demo tomorrow.
Hope to join your dev process soon

[2016-12-15 19:36] amorskoy commented on #96
Super! Thanks  lot @tidwall

[2016-12-15 22:18] tidwall commented on #99
That's great to hear! Thanks a bunch for your help and good luck with tomorrow's demo.

[2016-12-16 14:00] shailesh17mar opened #100 "Example for using Node_redis library to push Data in Tile38 DB"
Hi, I am trying to test out tile38 for my new project and due to lack of documentation I am facing trouble about how to go about pushing a sample dataset in DB.
It would be awesome if you could provide a Node_redis library example.
I also could not find the documentation needed about providing timestamp with new entries.

Any help is appreciated.

[2016-12-16 15:05] tidwall commented on #100
Hi @shailesh17mar,

Node_redis is supported. The trick is to call the `client.send_command(name, args, callback)` function in order to use Tile38 commands.

[code]

[2016-12-16 15:20] tidwall commented on #100
I also added a link to the Tile38 wiki site. https://github.com/tidwall/tile38/wiki/node_redis-example

I agree with you that there should be more documentation.

Thanks for the suggestion and for trying out Tile38.

[2016-12-16 15:20] #100 closed

[2016-12-16 15:28] tidwall opened #101 "Add example code for each major client library"
We should have example code documented for each recommended [client library](https://github.com/tidwall/tile38#client-libraries)

At the moment only the node_redis library has an [example](https://github.com/tidwall/tile38/wiki/node_redis-example) of how to use the client library.

**What to do for each client library**

- Create an example code wiki page that executes the following commands:
[cod

[2016-12-18 06:42] shailesh17mar commented on #100
I will be trying out Tile38 with a large location db. Will tell you about my experience.

[2016-12-18 13:42] tidwall commented on #100
Sounds good. I look forward to the feedback.

[2016-12-19 04:59] shailesh17mar opened #102 "Is there any way to import data into tile38 from csv/tsv file?"

[2016-12-19 16:50] josephroffey opened #103 "Can a sparse search return weighted values?"
Hi there,

I'm trying to create a [heatmap](https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap) of currently active points, and to do this I was going to do a sparse search within the bounds of the heat map...

Google's api accepts 'weights' for various locations... Now because the [Documentation](http://tile38.com/commands/intersects/) says that Tile38 'will distri

[2016-12-20 02:25] GameFreedom opened #104 "Del Command"
Hi,
I want to take the match when using del command.
For example,
1.set fleet t:1 point 1 1
2.set fleet t:2 point 2 2
Then,I want to delete begin with t id directly.
But I don't want to delete one by one.Excuse me how should I do

[2016-12-20 08:37] amorskoy commented on #102
I am using Scala for this - with the Spark for csv read (spark.read.csv) --> scalaj.http for http post into Tile38 port

It could be simplier - like python for csv read --> python curl post

The bad news here is insertion performance, as massinsert is under development, as i see in @tidwall master branch

[2016-12-20 10:38] amorskoy opened #105 "Add metadata constants to SETHOOK"
Maybe not a major improvement, but it would be nice to add some metadata to SETHOOK - thus, provided we have multiple Til38 instances pushing web hooks to a centralized channel, we will be able to understand messsage source on receiving side.

[2016-12-20 14:31] tidwall commented on #104
This is currently not available. Perhaps I could add a `PDEL key pattern` command.

[2016-12-20 18:20] tidwall commented on #105
Do you think it might be enought to add a META keyword that is passed through?

[code]

[2016-12-20 18:47] tidwall commented on #103
Hi Joseph,

I think I understand but correct me if I'm off base.

The SPARSE keyword will not work for your use case. It's intended to split a bounding area into smaller cells, taking the first object that intersects each square.  For example, `SPARSE 2` will split the original search into a grid of 16 smaller cells. Tile38 then returns the first object it finds in each cell:

![untitled-1](https:

[2016-12-20 19:00] amorskoy commented on #105
Very close to. The only couple of additions I would propose:

1. Make meta to be of Key-Value type
2. It would be good to allow multiple key-value pairs per hook

[2016-12-21 02:26] icewukong opened #106 "Protobuf support wanted"
When we execute spatial queries, the geojson data returned by the server may be large.
If geojson data can be compressed using Pb, will be able to reduce response time,in the case of high concurrency.

[2016-12-21 03:55] GameFreedom commented on #104
That's pretty? Thanks a lot

[2016-12-21 10:46] beyoung commented on #101
hi @tidwall, i cloned https://github.com/tidwall/tile38.wiki.git , and writed a simple python and golang example, but when i push my example to github, it reports
[code]
so , what should i do ?

[2016-12-21 11:36] beyoung commented on #101
i  create a [new repo](https://github.com/beyoung/tile38_wiki).  H_H

[2016-12-21 14:11] amorskoy opened #107 "Memory leak"
I have ~ 23K objects of multipolygon type, representing California boundies.
Enter hook assigned for each poligon --> ~ 23K web hooks

When I am starting point insertion with SET commands (2 points per second) I see that memory, consumed by tile38 server grows from initial 200MB to 700MB  (and it will grow if I continue ingestion).
The bad thing is that after I stop ingestion - memory is not freed

[2016-12-21 18:48] tidwall commented on #107
Could you send over the response to a SERVER command? Also try to send the server a GC command. It's possible that Tile38 is hanging on to the memory a little longer than it needs to. Usually the memory is freed periodically or when the OS requests for it.

[2016-12-21 20:35] phulst opened #108 "Support for webhooks into Redis?"
First of all, great project. Also thanks for the efforts you've put into the documentation, makes it just so much easier to get my feet wet with this... I'm excited to start playing around with Tile38.

The webhooks feature is particularly interesting to me, but I have a couple of questions about this:
- Is there any chance that a Redis integration might be coming for this? I imagine this could wo

[2016-12-21 22:28] amorskoy commented on #107
@tidwall  GC did not change the memory acquired (neither res, not virt according to top).
Tomorrow I will obtain SERVER output at my work laptop

[2016-12-22 08:22] amorskoy commented on #107
Here is it. Currently after ingestion initial consumtion increased from 200MB to 577 MB. Then I have stopped ingestion (otherwise it will grow more, up to 10G RAM as I saw in experiment yesterday):

`127.0.0.1:9851> server
{"ok":true,"stats":{"aof_size":21310261,"avg_item_size":713,"heap_size":379549576,"id":"3ac8137746a82d6c77259bc0e307a05c","in_memory_size":13227334,"max_heap_size":0,"mem_alloc"

[2016-12-22 08:39] amorskoy opened #109 "Add Kafka as SETHOOK endpoint"
It seems to be natural extention for scalable architecures.

Currently my flow looks like:
GeospatialPointsProducer  --->  Tile38 [Hook, http endpoint] ----> Python HTTP server --->  push to Kafka <---- Spark Streaming

We could achieve:
GeospatialPointsProducer  --->  Tile38 [Hook, kafka endpoint] ----> push to Kafka <---- Spark Streaming

So python http botlleneck removed

[2016-12-22 09:56] tidwall commented on #107
@amorskoy This information is very useful. I'm going to try to reproduce the problem on my side and I have a few questions.

From the SERVER data you provided, I see the 23,198 objects -> 23,198 hooks, but what about the point objects that you are creating 2x per sec with the SET command? Are you sending a DEL command to remove them?

Roughly how much time has elapsed before the Tile38 instance ha

[2016-12-22 10:09] tidwall commented on #109
I think that this may be possible. There's an [controller/endpoint](https://github.com/tidwall/tile38/tree/master/controller/endpoint) package that provides and interface for adding hook protocols. Right now Tile38 supports HTTP, gRPC, and Disque.

I don't have any hands-on experience with Kafka but as long as there's a TCP endpoint to connect to then support should be possible.

[2016-12-22 10:41] tidwall commented on #108
Thanks for the kind words and you interest in Tile38.

I don't currently have Redis integration on the roadmap, but it's certainly possible. There's an [controller/endpoint](https://github.com/tidwall/tile38/tree/master/controller/endpoint) package that provides and interface for adding hook protocols. I suspect that Redis would work very similar to Disque.

There's no hardcoded limits on the numb

[2016-12-22 10:43] tidwall commented on #106
Thanks for the suggestion. Are you referring to something this https://github.com/mapbox/geobuf?

[2016-12-22 10:44] tidwall commented on #105
I think that this is doable.

[2016-12-22 11:04] amorskoy commented on #107
@tidwall no, it is not DEL - I am using SET.... EX 5 instead

Grow from 200 MB to 10GB ~ in 5 mins.
Seems that absoltely normal behavior of queue - nothink stucks. The only thing is mem consumption

[2016-12-22 11:06] amorskoy commented on #109
When I feel more comfortable with Go - will try to make pull request as well

[2016-12-22 22:22] tidwall commented on #107
I'm still investigating, but I haven't been able to reproduce the leak yet. I've tried thousands of hooks and hundred of thousands of points (using `SET EX`), yet the reported `stat.heap_memory` always seemed to return to a sane value.

I may be wrong but perhaps the memory isn't leaking. Rather Tile38 is notifying the OS to reclaim unused memory and Linux is like "thanks. I don't need it right no

[2016-12-22 22:37] amorskoy commented on #107
@tidwall  Thanks - sure I will. I hope to find a free time slot for this as soon as possible.

[2016-12-22 23:08] phulst commented on #108
ok, thanks. well, it looks like Golang has a pretty reasonable learning curve. I may take a stab at this myself and submit a pull request at some point...

[2016-12-22 23:26] tidwall commented on #108
That would be fantastic! Let me know if you need a second set of eyes.

[2016-12-23 01:05] icewukong commented on #106
Yes, that's what I mean.

[2016-12-23 13:22] amorskoy commented on #107
@tidwall just finished experiment with `memoptz` branch

So:

- initial Tile38 mem is 200 MB (~23000 Multipoligons, 1 Hook per Multypoligon)
- Ingestion during 2 minutes: s"SET people $hName EX 10 POINT ${step.y} ${step.x}"
- ingestion rate ~ 6 messages/second
- total json objects generated by hook - 426
- memory rised up to 4.5G Res (4.8G Virt) according to `top`
- `server` command output:

`127.

[2016-12-23 13:25] amorskoy commented on #107
P.s. if I kill and start tile38 (so AOF is loaded) - mem is at initial volume 200MB again

[2016-12-23 14:37] tidwall commented on #107
Good info. Could you also execute the GC command after full ingestion? Then send over the SERVER response before and after GC?
I curious about the heap_size and heap_released values specifically. This will help inform me if the Go runtime is requesting the OS to reclaim the memory of if there's a leak.

[2016-12-27 08:18] amorskoy commented on #107
Ok - I will try to make it asap

[2016-12-27 08:56] amorskoy commented on #107
Btw, another interesting thing: before the ingestion,  I just launched SERVER command, with the 1 minute delay between commands:

`127.0.0.1:9851> server
{"ok":true,"stats":{"aof_size":20346998,"avg_item_size":175,"heap_released":0,"heap_size":93272256,"id":"281b8d0f24a5a1a3f73b8a31acdefbcd","in_memory_size":13227334,"max_heap_size":0,"mem_alloc":93272256,"num_collections":1,"num_hooks":23198,"num

[2016-12-27 08:58] amorskoy commented on #107
And after 3 minutes i see that heap is released - so probably it is ok:
`127.0.0.1:9851> server
{"ok":true,"stats":{"aof_size":20346998,"avg_item_size":175,"heap_released":38576128,"heap_size":93266504,"id":"281b8d0f24a5a1a3f73b8a31acdefbcd","in_memory_size":13227334,"max_heap_size":0,"mem_alloc":93266504,"num_collections":1,"num_hooks":23198,"num_objects":23198,"num_points":532270,"num_strings":0

[2016-12-27 10:13] amorskoy commented on #107
Ok, so repeating the experiment
1. Before ingestion:
`127.0.0.1:9851> server
{"ok":true,"stats":{"aof_size":20346998,"avg_item_size":175,"heap_released":38608896,"heap_size":93337736,"id":"281b8d0f24a5a1a3f73b8a31acdefbcd","in_memory_size":13227334,"max_heap_size":0,"mem_alloc":93337736,"num_collections":1,"num_hooks":23198,"num_objects":23198,"num_points":532270,"num_strings":0,"pid":6300,"pointe

[2016-12-27 17:05] tidwall commented on #107
Yes, there is a leak. :(

After (6), the `heap_size` of 3.88GB is too high. Most of the that should have moved over to `heap_released`.

If allowable, could you to share the SETHOOK and SET EX commands? Perhaps a gzipped AOF file should be enough. I want to set up the identical Linux environment and pump the same data through.

Hopefully I can resolve this in short order.

[2016-12-27 21:44] amorskoy commented on #107
@tidwall  sure - during nearest workday I will try to figure out what could be extracted - and will share

[2016-12-28 08:04] amorskoy commented on #107
@tidwall  here is zipped AOF. Please let me know if you need something else. Thanks
[appendonly.aof.zip](https://github.com/tidwall/tile38/files/675225/appendonly.aof.zip)

[2016-12-28 19:52] tidwall commented on #107
I just pushed an update that I believe fixes the leak. There're also a few other optimizations thrown in. Please check it on your side and let me know if this works for you.

Also I created a utility for this specific issue located in the `test/107` directory. It downloads the AOF file that you provided in this thread, and starts an embedded tile38 server and http-webhook endpoint. Then it pushes

[2016-12-29 09:45] amorskoy commented on #107
@tidwall  Great resutls.
Initial memory is 220 MB.
Max memory consumption during ingestion (5 minute period) is 290MB.
After final GC - 223 MB

`127.0.0.1:9851> server
{"ok":true,"stats":{"aof_size":20787387,"avg_item_size":231,"heap_released":69656576,"heap_size":122970800,"id":"281b8d0f24a5a1a3f73b8a31acdefbcd","in_memory_size":13227334,"max_heap_size":0,"mem_alloc":122970800,"num_collections":1

[2016-12-29 14:53] #104 closed

[2016-12-29 14:53] #107 closed

[2016-12-29 14:54] tidwall commented on #107
I just pushed these changes to the master branch. Let me know if you run into problems along the way. Thanks!

[2016-12-30 03:36] beyoung commented on #101
@tidwall  No problem.     it's a pleasure for me to make tile38 more  reachable. (and tile38 is great , it makes LBS application much simple . Thanks for your work. )  #_# .

[2016-12-30 22:07] jj0hns0n opened #110 "An OGR Driver would be nice"
http://www.gdal.org/ogr_formats.html

[2016-12-30 23:07] tidwall commented on #110
That would be worth investigating. Is there documentation on OGR driver implementation?

[2016-12-30 23:41] jj0hns0n commented on #110
http://www.gdal.org/ogr_drivertut.html

[2016-12-30 23:42] jj0hns0n commented on #110
There is also a golang wrapper for gdal (havent really tried it) https://github.com/lukeroth/gdal

[2016-12-30 23:48] tidwall commented on #110
Thanks. This information is helpful.

[2016-12-30 23:53] jj0hns0n commented on #110
fwiw, I would be looking toward eventually using tile38 as a data provider for tegola http://tegola.io/ an ogr driver would be helpful to get any ogr compliant data into a data store using ogr2ogr

[2016-12-31 15:47] enc commented on #101
I added a ruby version
https://github.com/enc/tile38/wiki

[2016-12-31 18:19] JosephShering opened #111 "Cannot unzip zipped file for Mac OS X"
[code]

[2016-12-31 18:26] tidwall commented on #111
I just tested on my side and unzipped ok. Perhaps the file was corrupted on transit?

The MD5 is `354de5253f92a91041e29c4d9a8c5b1b`.

[code]

Alternatively you can install using Homebrew `brew install tile38`

[2017-01-01 19:20] tidwall commented on #101
@enc Thanks a bunch. I'll merge it asap.

[2017-01-01 22:06] enc commented on #101
Here is a golang version for redigo too.

I prefer this library since it ignores the redis semantics which is handy for our usecase.

[code]

[2017-01-02 17:03] tidwall commented on #101
@beyoung and @enc, I just updated the [client libraries](https://github.com/tidwall/tile38#client-libraries) section in the README and the [wiki](https://github.com/tidwall/tile38/wiki) to include the new examples.
Thanks for these!

[2017-01-02 20:24] tidwall commented on #111
Hi @JosephShering,

Checking to see if were you able to get Tile38 installed and if there's anything else I can assist with.

[2017-01-02 22:54] davidmurdoch commented on #4
@steve21124 were you ever able to deploy to Heroku?

[2017-01-03 14:53] juanpabloaj commented on #90
@icewukong another simple example with websockets in browser

Add `truck` in `tile38-cli`

[code]

[code]

[code]

with this you get this output in the browser console

`{"ok":true,"objects":[{"id":"truck1","object":{"type":"Point","coordinates":[-112.2693,33.5123]}}],"count":1,"cursor":0,"elapsed":"106.644µs"}`

[2017-01-04 01:11] icewukong commented on #90
@juanpabloaj
Thank your reply,I mean, this way does not play the advantages of websocket,because each command will create a new connection.
My solution is : deploy a websocket server connection service,then web terminal connect this server through the websocket protocol, the service through the connection pool to access tile38, the advantage of this is that multiple commands can establish a TCP co

[2017-01-04 12:11] amorskoy commented on #109
@tidwall  after short searching I have found this implementation mature and progressive enought: https://github.com/Shopify/sarama

I do not know benchmarking for it yet, but it seems to be good feet

[2017-01-04 14:50] tidwall commented on #109
Good find. Sarama looks mature and feature rich. I agree that this may be the best option to start with.

I'm hoping that the `controller/endpoint` package is self explanatory, but if you have any question along the way, don't hesitate to ask.

[2017-01-04 21:59] auselen opened #112 "nearby to return distance to objects"
Would it be possible for nearby queries to return distance inside objects as well?

so instead of
`{"type":"Point","coordinates":[1,2]}`
may be we can get something like
`{"type":"Point","coordinates":[1,2], "distance": 3000}`

that will make ordering of results easier.

My real issue is to get the nearest object, but then for a relative big search area I get many result, and I think they are not

[2017-01-04 22:31] tidwall commented on #112
Hi @auselen,

Would this be for the NEARBY command specifically? I think that returning the distance of each object along with the results should be trivial for points.

Perhaps adding a `DISTANCES` keyword, such as:
[code]

For complex objects this will be a bit more challenging because of object edge detection and such. #95 touches on this problem a bit (a feature that I would like work on in th

[2017-01-04 22:55] auselen commented on #112
DISTANCES keyword and [id, object, distance] would work just fine as well. Should I expect this to be released soon?

I don't think about complex objects about now just because I understand that's hard business.

What I'm doing is to find nearest city given a point, I get locations from geonames, and I'm just thinking of working around picking the right one by weighting distance, population, etc.

[2017-01-04 23:19] tidwall commented on #112
I'll add the DISTANCES keyword to roadmap. I'm a bit backlogged right now, but hopefully I can get to it soon.

[2017-01-05 14:12] auselen commented on #112
Sharing a one liner to fill tile38 with geonames data. I realized keys can't have spaces (not possible to surround them with quotes, so can't use city name as key) also not possible to set some string info for the point (like city name in this case). Other than those, it's great!

[code]

[code]

[2017-01-06 02:18] juanpabloaj opened #113 "Password of the docker container as environment variable"
Is posible set the password of tile38-server in the docker container as a environment variable?

[2017-01-06 02:22] tidwall commented on #113
Not that I'm aware of.

[2017-01-06 02:32] juanpabloaj opened #114 "Password only for write"
when I use

     CONFIG SET requirepass mypass

the password is for read and write? exist a way to require password only for write?

[2017-01-06 02:35] tidwall commented on #113
You'll need to send the tile38 server a
[code]
commands to store the `config` file that is located in the data directory. I'm not an expert but perhaps this file can be added to the tile38 data directory prior to executing `docker run tile38`?

[2017-01-06 02:37] tidwall commented on #114
Yes. This is for all commands. You must also call `config rewrite` to save the change.

[2017-01-06 14:31] juanpabloaj commented on #114
thanks

[2017-01-06 14:31] #114 closed

[2017-01-06 14:31] juanpabloaj commented on #114
thanks

[2017-01-06 14:52] juanpabloaj opened #115 "Subscribe to fence command"
In nodejs, I can send a command with

[code]

How I can subscribe to fence roam with node ?
subscribe to a command like

    NEARBY people FENCE ROAM people * 100

[2017-01-06 16:34] tidwall commented on #115
I'm not sure how to subscribe to with the node redis library. I tried to look at the internal code, but could figure out how to just read messages of the network stream.

Here's some code that should work:

https://gist.github.com/tidwall/0e7fe116351fb7a9a16c0cbd3e2fb79a

[2017-01-06 16:36] beyoung commented on #115
@juanpabloaj    I think  maybe webhook can help you .

[2017-01-06 18:29] juanpabloaj commented on #115
Thanks.

Yes , finally I solved with websockets
El El vie, 6 de ene. de 2017 a las 13:36, beyoung <notifications@github.com>
escribió:

--
JuanPablo AJ
juanpabloaj.com

[2017-01-07 07:45] phulst opened #116 "TTL not returning anything"
[code]

I was expecting the TTL command to return 100 (or something close to 100), but it doesn't return a TTL value at all. Is this a bug? The expiration does appear to work, 100 seconds after calling expire the object is removed.

[2017-01-07 13:24] juanpabloaj opened #117 "NEARBY fleet FENCE DETECT enter COMMAND ... invalid argument 'COMMAND'"
When I try this command of the documentation

    NEARBY fleet FENCE DETECT enter COMMAND set POINT 0 0 1000

I get this error message

    (error) invalid argument 'COMMAND'

I use the version 1.7.0

[2017-01-07 16:29] #116 closed

[2017-01-07 16:36] tidwall commented on #116
Thanks for finding this. It appears that with the `tile38-cli` utility, the TTL command does not return the TTL value as you described. I fixed this and pushed to the master branch.

On a side note you can use a Redis client or type in `OUTPUT resp` to switch `tile38-cli` to output as a redis formatted response.

[code]

[2017-01-07 16:39] tidwall commented on #117
Sorry about that. It's a typo in the documentation. The keyword is `COMMANDS` with an S.

I just fixed the docs moments ago.

Thanks a ton for discovering the error.

[2017-01-08 09:09] m1ome commented on #112
@auselen using city as a key name is kinda bad idea. In Russia in e.g. there is a lot of cities with a non-unique names. You will just mess all data. Also in US, they have a cities with similar names.

[2017-01-08 10:10] auselen commented on #112
No question there but it's more of a one line demo thing. Also imagine concatenating all the administrative names to city name to get it more distinctive. I don't know if it's a redis thing to not to have spaces in keys.

[2017-01-08 11:09] tidwall commented on #112
@auselen Redis does support spaces in keys. I think you may have found a limitation of the `tile38-cli` command.

When I use the `redis-cli` and use the following command it seems to work.

[code]

[2017-01-09 07:50] phulst commented on #116
thanks Josh. I intentionally set the output format to json because I'm working on a Node driver for Tile38 (essentially a wrapper around node-redis). Working with JSON is more convenient than the redis response format in javascript code...
https://github.com/phulst/node-tile38

[2017-01-09 15:08] tidwall commented on #116
I fixed this issue and pushed the update to the master branch. I'll bump a public release by the end of the week.

Your project looks great.

I was working with the node redis library the other day, which is pretty good, and I found a minor limitation with creating [live geofences](http://tile38.com/topics/geofencing)... rather I couldn't find a way to use the FENCE keyword and read continuous mes

[2017-01-09 17:28] phulst commented on #116
Thanks, that might be very helpful. As I'm sure you noticed I hadn't implemented support for live geofences yet but I'll take a look. Perhaps if node-redis does not support continuous messages well, [ioredis](https://github.com/luin/ioredis) might.

[2017-01-09 17:37] phulst commented on #115
I'm working on a Node library that makes interacting with Tile38 a bit more friendly.
https://github.com/phulst/node-tile38
I haven't added support for live geofences yet but will look at that this week. If node-redis doesn't support a data stream well, perhaps the ioredis node library may support it better. I see that one already has a scanStream method to support similar functionality for the re

[2017-01-09 21:39] juanpabloaj commented on #115
@tidwall what is the correct way to close a live connection?

If I connect with websocket to a live with something like

     ws://localhost:9851/NEARBY+...

and later I close the websocket with a `.close()`, the log of tile38-server  show me

    [ERRO] unexpected EOF

What is the correct way to close a live connection over websockets?

[2017-01-09 22:08] tidwall commented on #115
For websockets, the `.close()` is the correct way.

Please ignore the all the `[ERRO]` messages. I'll clean this up.

[2017-01-09 22:10] tidwall opened #118 "Remove "[ERRO] unexpected EOF" message"
Too many `[ERRO] unexpected EOF` messages when disconnecting from Websockets when a `.close()` is called from Javascript application.

The Tile38 should recognized that the connection was closed and gracefully end the stream without errors.

#115

[2017-01-10 16:57] m1ome commented on #111
@JosephShering just checked on my MPB, all fine.

BTW you can install last version from `brew`.
It's much more easy way to do it.

[2017-01-10 17:11] m1ome opened #120 "Gitter community?"
@tidwall what do you think about registering gitter community? A lot of questions can be asked/resolved in there.

[2017-01-10 17:58] tidwall commented on #120
Good idea. I'll work on this asap.

[2017-01-10 18:06] m1ome commented on #118
@tidwall if you wanna to, i can research and fix it.

[2017-01-10 18:08] tidwall commented on #118
@m1ome That would awesome. Thanks! 👍

[2017-01-10 18:09] m1ome commented on #118
@tidwall ok i will to it tomorrow 👍

[2017-01-10 18:42] m1ome commented on #108
@tidwall i will do this FR if you don't mind, looks like @phulst have some issue with this one, IMO redis integration can be pretty usable.

[2017-01-10 18:58] tidwall commented on #108
@m1ome Sounds good. Let me know if you have any questions along the way.

[2017-01-10 19:16] #120 closed

[2017-01-11 00:35] ridingrails opened #121 "Question: replication redundancy"
Great tool! I have a question about redundancy. When you set a follower for a master, what happens if the master host terminates? Is there any type of leader election among followers currently? Or do all the followers need to be programmed to follow a new master?

[2017-01-11 01:14] tidwall commented on #121
Hi @ridingrails,

In short it would need to be programmed.

Replication in Tile38 is very simple. A follower is just a readonly mirror of the leader. When new write commands are sent to a leader, the leader will forward the commands to each follower. The followers can serve readonly commands like `GET` and `SEARCH`, but cannot handle write commands like `SET` and `DEL`.

When a leader terminates w

[2017-01-11 01:35] ridingrails commented on #121
Yes it does, thanks Josh!

[2017-01-11 01:35] #121 closed

[2017-01-11 07:12] m1ome commented on #108
@phulst PR on review now, it send all stuff into Redis PubSub queue.

[2017-01-11 07:42] phulst commented on #117
the INTERSECTS and WITHIN doc pages also specify COMMAND instead of COMMANDS

[2017-01-11 07:54] UriHendler opened #124 "HTTP webhook content-type header missing"
When I use HTTP webhooks, it seems that Tile38 is not sending the Content-Type header (which should be application/json according to the docs).

I'm using v1.7.0 on Windows.

Here's an example webhook request:
[code]

I assume `req.Header.Set("Content-Type", "application/json")`
should be added before this line: https://github.com/tidwall/tile38/blob/master/controller/endpoint/http.go#L66

[2017-01-11 09:25] m1ome commented on #124
@UriHendler nice catch, submitted PR for this.

[2017-01-11 11:41] #124 closed

[2017-01-12 10:36] tidwall commented on #92
Perhaps the flag is --http-transport is a better name for the flag. Just a Boolean. It's true by default, at least for version 1.X.

[2017-01-12 14:48] m1ome commented on #92
I will do this for 1.* and we can port this to 2.0 when time comes, just switching condition and flag name.

[2017-01-12 15:15] m1ome commented on #115
@juanpabloaj should be resolved by PR #126, waiting for a merge

[2017-01-12 15:21] damariei opened #127 "WITHIN/INTERSECTS when searching against objects with Z coordinate"
Right now searching for objects within an area does not find any objects with a Z coordinate since the default Z for the search polygon is 0.

This causes an issue if the searched objects use the Z coordinate as an timestamp (for indexing), is it possible to add a flag to ignore Z for a search?

Otherwise, all searches would need to include a Z coordinate from 0 to 99999.... to make sure all objec

[2017-01-12 16:50] tidwall commented on #127
Hi @damariei,

I'm not seeing the problems that you are describing. Please forgive me if my answers are off track.

I just tried this:
[code]

Which is the result that I expected. Could you provide an example of the problem in your scenario?

It should be possible to add a flag or automatically ignore in a future build.

It should be possible to mix and match Z index with non-Z index objects in th

[2017-01-12 16:54] damariei commented on #127
Ahh, the issue seems to be specific to searching a geojson area. Can you transform your BOUNDS into geojson and try again?

[2017-01-12 17:24] tidwall commented on #127
Well that's no good...

[code]

Returned zero results. Clearly it should return all three.

Thanks for reporting this bug.

[2017-01-12 20:33] m1ome commented on #113
@tidwall do we have a docker hub image? I mean if we have it anyone can just build own image on top of our.

[2017-01-12 20:36] juanpabloaj commented on #113
@m1ome https://hub.docker.com/r/tile38/tile38/

[2017-01-12 20:38] tidwall commented on #113
@juanpabloaj Are you using this for you project?

[2017-01-12 20:39] juanpabloaj commented on #113
@tidwall yes, I use this image in my project

[2017-01-13 08:39] phulst opened #129 "what is the META parameter used for in SETHOOK?"
A few questions:
1. When I submit a command like this:

SETHOOK testhook http://httpbin.org/post META field val1 NEARBY fleet FENCE POINT 33.637276 -84.434006 500

it happily accepts it, but I'm not sure what META actually does, and can't find any description of it in your docs. The webhooks documentation page suggests that META may accept multiple name/value pairs, but if I try this:

SETHOOK tes

[2017-01-13 13:44] damariei commented on #129
1.
The META are just any key/value pairs you would like to be returned in the callback as additional data. The reason why you second example fails is you must use the `META` keyword in front of each pair, like so: `META field val1 META field2 val2`
2.
Only POINT and ROAM have the radius option, see the documentation here:
http://tile38.com/commands/nearby/

[2017-01-13 16:04] #117 closed

[2017-01-13 16:05] tidwall commented on #118
@m1ome Thanks for your help with this bug

[2017-01-13 16:05] #118 closed

[2017-01-13 16:07] tidwall commented on #115
@m1ome I pushed your PR to master. Big thanks!

[2017-01-13 16:07] #115 closed

[2017-01-13 18:01] tidwall commented on #92
@m1ome thanks for helping with this.

[2017-01-13 18:01] #92 closed

[2017-01-13 19:20] m1ome commented on #92
@tidwall you are welcome!

[2017-01-13 22:13] phulst commented on #129
thanks for the clarification

[2017-01-13 22:13] #129 closed

[2017-01-14 05:10] m1ome commented on #108
@tidwall i can also create a PR on docs, to document this feature.

[2017-01-14 14:22] tidwall commented on #108
@m1ome That would be very helpful. 👍

[2017-01-15 08:00] m1ome commented on #108
@tidwall i am on it today.

[2017-01-15 10:45] m1ome commented on #112
@tidwall this feature already in doc's maybe you can close this issue?

[2017-01-15 11:00] m1ome commented on #108
@tidwall https://github.com/tile38/tile38.github.io/pull/1

[2017-01-15 11:43] m1ome commented on #113
@juanpabloaj look at this repo - https://github.com/m1ome/tile38-docker-ext maybe it can help solving your problem.

[2017-01-16 17:18] #112 closed

[2017-01-16 18:37] joernroeder opened #130 "NEARBY sort results by distance"
Hey, I'm currently playing arround with tile38 and i found #79 and #119 which are both looking very interessting to me while i'm trying to find a point, which sits within the radius of n given points. At the moment i'm using n queries – one for each input point – and i'd like to return the closest point which was found in all subqueries.
During the iteration through the result lists, comparing ids

[2017-01-16 20:03] juanpabloaj commented on #113
thanks @m1ome , is a first solution, but normally in a docker file is not a good idea define passwords, maybe is better if the dockerfile have something like

     if the environment variable TILE38_PASSWD exist then create a data/config with ...

[2017-01-16 21:08] tidwall commented on #113
I'm fine with adding an env var. If an env auth is set, then should it override the config auth?

[2017-01-16 22:42] m1ome commented on #113
@tidwall IMO you should do this for all config variables. I mean `ENV -> CONFIG`. When server starts you can log that some variable was loaded from ENV, that's all.

[2017-01-17 13:55] damariei opened #131 "TTL no longer working on v1.7.5"
It seems TTLs stopped working on the latest version of Tile38.

[2017-01-17 14:47] tidwall commented on #131
I'm not seeing the issue from my end.

A simple test I just tried:

[code]

What are you seeing on your side?

[2017-01-17 14:57] amorskoy opened #132 "Hook queue is slow"
I am pushing messages into Tile38 using Telnet. Input rate is around `100` inserts/sec - SET - simple point objects into `people` collection with EX 10 seconds

Static part is `pois` collection, ~ 73000 objects, simple points as well.

There is just 1 hook
127.0.0.1:9852> hooks *
`{"ok":true,"hooks":[{"name":"poi_hook","key":"people","endpoints":["http://localhost:9999/"],"command":["NEARBY","peop

[2017-01-17 15:55] tidwall commented on #132
Hi @amorskoy,

That is slow.
Which version of Tile38 are you running?

If you do a generic fence in Telnet, does the rate keep up?

[code]

You may also want to delete the current webhook first.

I'm wondering if the problem is in ROAM logic or the http delivery.

[2017-01-17 16:00] amorskoy commented on #132
Hi @tidwall . It is fresh checkout from master.
Yes, it is already telnet - and this rate is high enough - (~100 messages per second)
Problem is about outgoing rate (hook endpoint HTTP call - ~10 per secon

I have debugged a little bit - seems that controlooer/endpoint/http.go, line 68 goes slow - seems to be a reason:
`resp, err := conn.client.Do(req)`

[2017-01-17 16:01] tidwall commented on #130
Hi Jörn,

Yes, I think this is a very good idea. Having nearby searches ordered by nearest distance is a feature that I have on the roadmap. It's been requested multiple times and is a high priority.

The basic idea is that you should be able to do something like:
[code]

Which would return back the 100 nearest objects to that are all within a 5km radius of coordinates 33,-115.

[2017-01-17 16:27] tidwall commented on #132
That should be a very fast operation.

What's suppose to be happening is that the first webhook notification to an endpoint will open an HTTP/2 connection using the default Go `net/http` client. Then all of the following Do() commands to that endpoint should share the same connection. If more that 30 seconds elapse between two notifications, the connection is closed. It then gets reopened when a n

[2017-01-17 17:32] joernroeder commented on #130
hey @tidwall,
thanks for looking into this! At the moment it feels like a waste of ressouces to use a pretty high LIMIT just to throw most of the items away after sorting them.
Your example returns up to 100 objects (within the radius) but i also noticed that sometimes it's more helpful to exactly find the n closest points aka https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm for a given

[2017-01-17 18:32] tidwall commented on #130
Yes. We moved away from quadtree/rtree hybrid index to pure rtree for the purpose of supporting k-nn queries. If LIMIT is specified, but the radius is not then the operation will work as you described. At least that is the plan for a future release.

[2017-01-17 18:37] tidwall commented on #130
Yes. We moved away from quadtree/rtree hybrid index to pure rtree for the purpose of supporting k-nn & 3D queries. If LIMIT is specified but the radius is not, then the operation will work as you described. At least that is the plan for a future release.

[2017-01-17 18:43] joernroeder commented on #130
Wow! Sounds perfect! :)

[2017-01-17 19:43] tidwall commented on #130
Glad to hear your enthusiasm and thanks for your interest in Tile38!

[2017-01-17 21:16] amorskoy commented on #132
I will try to check one idea - my python scripts, besides fast TCP recv, does Kafka push as well. I want to check if it possible that this operation is don synchronously. In this case it may be a reason in theory.

[2017-01-18 08:27] amorskoy commented on #132
@tidwall  definetely it is Sync nature of Kafka python producer. Let me play a little bit with the tests today before closing the issue

[2017-01-18 10:07] amorskoy commented on #132
Yes, it was definetely 2 factors on HTTP endpoint side
1. slow python's SimpleHTTP server - replaced with gunicorn + falcon
2. slow kafka producer - will work on it

[2017-01-18 10:07] #132 closed

[2017-01-18 12:10] tidwall commented on #132
Thanks for looking into this and letting me know.

[2017-01-18 12:14] amorskoy commented on #132
I was able to easely produce ~1000 http hooks/sec (with input SET rate 1000 msg/sec). Looks fantastic.
I will try to increase the things as I am finishing with Python Kafka producers test

[2017-01-18 12:17] tidwall commented on #132
👍 Very good to hear.

[2017-01-18 13:07] amorskoy opened #133 "Heap is not cleaned automatically after mass SET"
So, I have 73K Point objects `poi`
I am inserting `people` withing rate ~ 1000 SET msgs/sec (POINT as well, EX is 10 seconds)

There is just one HTTP hook
[code]

1. Initial memory consumption is 100 MB
2. During ingestion it reaches 320 MB
3. After ingestion it stays at 320 MB
4. After `manual` GC command it backs to 100 MB

Before GC:
[code]

After GC
[code]

Approximate hook calling rate (measu

[2017-01-18 14:22] UriHendler opened #134 "Send fields with webhook notification"
Here's a suggestion, may be of use to others also.

Is it possible to allow the values of fields to be sent with the webhook?

I need a way to identify the message that caused the hook to fire. I can set the MessageID as a field when updating, e.g.:
`SET fleet truck1 FIELD messageId 354524 FIELD lastUpdatedAt 28758279 POINT 33.5123 -112.2693`
but when the hook fires, I have no way to know the valu

[2017-01-18 15:11] tidwall commented on #134
Hi Uri,

Fields should always be sent with each notification. I just tested on my side to verify.

I used this hook:
[code]

then I sent this command:
[code]

which produces this notification:
[code]

Perhaps there's something going haywire with a specific field name, value... could you attach an example of what you're receiving

[2017-01-18 15:19] UriHendler commented on #134
Thanks, let me test again.

I must have missed that last time I tried it. :flushed:

[2017-01-18 15:31] tidwall commented on #133
The Go runtime hangs on to memory for as long as possible. As I understand, the memory will eventually be released. But when this happens depends on factors like how often the Go memory allocator reuses the memory pages, the ratio of unused/used memory in the Go process, and how much system memory is available. Go is greedy with memory.

Ideally Tile38 would have the `GC` command automatically exe

[2017-01-18 17:36] m1ome commented on #133
@tidwall maybe we can add some kind of **`GC [interval]`** ?

[2017-01-18 18:30] tidwall commented on #133
@m1ome I think it may better to add a background garbage collection routine.

Something that executes every ~5 minutes.  I don't want it to run more often than it needs, in case the Go garbage collector takes too long to complete. Just often enough to help keep overall system resource more in check.

There's currently a routine that does some very basic memory bookkeeping and also watches  the `ma

[2017-01-18 20:17] m1ome commented on #133
@tidwall maybe we should add some configuration option for it? Response time may be crucial in some cases, and let's say 10ms in some time it's pretty important.

[2017-01-18 20:23] tidwall commented on #133
@m1ome good idea. Perhaps `autogc` where the value is an integer that is the number of seconds between GC calls. Zero would disable it and could be the default.

[2017-01-18 21:14] m1ome commented on #133
@tidwall if you wish i can implement this one :)

[2017-01-18 21:17] tidwall commented on #133
@m1ome Sure, that would be great. 👍

[2017-01-18 21:18] m1ome commented on #133
@tidwall awesome! I am on it!

[2017-01-21 23:52] m1ome commented on #108
@tidwall you can close it i think.

[2017-01-21 23:54] #108 closed

[2017-01-22 00:12] tidwall commented on #133
I just merged the change that include the `autogc` config option to master.

[2017-01-22 00:12] #133 closed

[2017-01-22 14:44] tidwall commented on #131
@damariei Are you still running into issues with TTL?

[2017-01-22 14:46] tidwall commented on #134
Hi @UriHendler, Did you have a chance to test?

[2017-01-23 08:29] UriHendler commented on #134
Working fine now.

I must have been half asleep the last time I tested.

[2017-01-23 08:29] #134 closed

[2017-01-23 16:59] tidwall commented on #134
👍 Great to hear.

[2017-01-24 09:37] tomquas commented on #130
exactly my use case. with this feature implemented i will be able to replace my home-grown, redis-based solution entirely with tile38. way to go!

[2017-01-24 14:59] tidwall commented on #130
@tomquas That's good to hear. This feature is on the short term roadmap.

[2017-01-24 15:15] m1ome commented on #130
I am currently on it, but after PoC we need to test it up for a speed reasons.

[2017-01-24 15:16] tidwall opened #136 "KNN for nearby command"
It's been often requested to allow for a NEARBY request to order the results by the distance to the target point and to limit by a count rather than a radius.

Including the `LIMIT` and `DISTANCES` keyword, and excluding the radius (meters) parameter, Tile38 will guarantee:
- The results will be order by the distance nearest to the target point.
- Each resulting object will include the distance to

[2017-01-24 15:18] tidwall commented on #130
@m1ome Sweet. I just added an official issue at #136, I think it matches the describes the feature as discussed.

[2017-01-24 16:43] m1ome commented on #136
@tidwall i think we can implement right now in a hacky-way, just adding mix of `DISTANCE` and `LIMIT` command, and then measure speed. After merge or cancel we can improve it with KKN algo. Sound good?

[2017-01-24 16:55] johnsonc commented on #54
So which do you think is better?
Btw. .We're seriously thinking of using Tile38 but we can't find any perf benchmarks on the internet so it makes it a bit tricky to approve of .. Please do let us know if/how we can help.
Thanks.

[2017-01-24 18:28] emgeee opened #137 "Last argument of ROAMING geofence command?"
In the documentation at the link http://tile38.com/topics/roaming-geofences/, the simple example given is `NEARBY people FENCE ROAM people * 100` but the description says this will create a fence that watches an object within 5000 metes. Is this just a typo?

[2017-01-24 18:50] tidwall commented on #136
@m1ome Yes, that sounds like a good start.

[2017-01-24 18:53] tidwall commented on #137
Thanks for catching the typo. I just fixed it on the website.

[2017-01-24 18:53] #137 closed

[2017-01-24 18:54] tidwall commented on #131
I'm closing this for now. Please reopen if this is still an issue. Thanks.

[2017-01-24 18:54] #131 closed

[2017-01-24 19:22] tidwall commented on #54
@johnsonc

I think the SETHOOK is the way to go in most cases, because it allows for a dedicated queue/notification server that Tile38 connects to directly (rather than middle-tier custom solution that connects to Tile38).

The gap in performance between SETHOOK and a standard FENCE has closed signifigantly over the past couple releases.

There's support for GRPC, Redis PubSub, and HTTP. GRPC is t

[2017-01-24 20:36] johnsonc commented on #54
Thank you!

:(
It gets really tough to convince those who are out to compare and contrast between frameworks to make a choice for production stack.
Right now, we are comparing ElasticSearch with Tile38 and we've come up with a few metrics that would be crucial for production for a service that we're considering:
Scalability/Clustering, Throughput, Fault tolerance, Reliability, Monitoring - Logging

[2017-01-24 21:32] m1ome commented on #136
@tidwall submitted PR #138

[2017-01-26 12:19] m1ome commented on #54
Starting to build up benchmarks.
https://github.com/m1ome/tile38-benchmark

Mostly this was related to issue #130 to test up speed.
But i think i can refactor it to work with entire system.

[2017-01-26 14:11] tidwall commented on #54
@m1ome

Thanks for getting a head start on this. Before you get to far down the road with a benchmark tool, we should discuss the strategy around what is being benchmarked and the tool itself in more detail.

It looks like the project that you are building is based on a `go test --bench`. Which is great for simple unit test benchmarks, but maybe not so great for benchmarking operations that goes o

[2017-01-26 18:09] m1ome commented on #54
@tidwall i will look up to redis benchmark, maybe we can get same one but written in go for Tile38, main thing will be a concurrent access and measurement. First tool for benchmarking is just a rally point to head over to more specific one.

[2017-01-26 21:40] literadix commented on #54
Thank you very much. Now we have very great numbers. Everyone could compare
this great piece of software to other solutions.

2017-01-26 19:10 GMT+01:00 Pavel Makarenko <notifications@github.com>:

[2017-01-30 09:33] UriHendler opened #139 "Support redis CLIENT commands"
I'm trying to debug an issue where I'm getting frequent network receive timeouts on open connections to tile38 (running v1.7.5).

The debug log shows when connections are opened/closed/dropped, but I'm not finding any pattern there.

Tile38 is running on a Ubuntu VM in Azure. The apps that are talking to tile38 are in the same Azure region, so the network latency should be very low. CPU usage is u

[2017-01-30 18:40] #139 closed

[2017-01-30 23:48] #136 closed

[2017-01-31 01:01] tidwall commented on #139
@UriHendler I added the CLIENTS command to the master branch. Let me know how it goes.

[2017-01-31 06:05] m1ome commented on #130
@tidwall I will write down some benchmark around this to test up new performance on KNN search

[2017-01-31 08:21] UriHendler commented on #139
@tidwall Great, thanks!

[2017-01-31 09:10] tidwall commented on #130
@m1ome sounds good. Fwiw, on my system I'm seeing about a 2ms response when doing a kNN search of 10 items on a collection of 10mil points. It should be much quicker, but it's a start.

[2017-01-31 12:34] tomquas commented on #130
@tidwall i set up a database with ~23k world cities (source: geonames.org), and stored each one 10 times to get some volume.

`127.0.0.1:9851> scan cities count
{"ok":true,"count":230905,"cursor":0,"elapsed":"11.609µs"}`

this surprised me, though:
`127.0.0.1:9851> nearby cities count point 48.13743 11.57549 20000
{"ok":true,"count":169,"cursor":0,"elapsed":"193.373µs"}
127.0.0.1:9851> nearby citi

[2017-01-31 12:48] tidwall commented on #130
Based on your example, it looks like when COUNT is specified LIMIT is ignored. This might be a bug with Tile38.

The knn search need to *not* include the meters param, for example:

[code]

This should return back 100 closest objects.

[2017-01-31 12:56] tomquas commented on #130
oh yeah, sorry, that was me not thinking clearly...

`127.0.0.1:9851> nearby cities point 48.13743 11.57549 20000
...],"count":100,"cursor":110,"elapsed":"323.261µs"}
127.0.0.1:9851> nearby cities limit 50 point 48.13743 11.57549
...],"count":50,"cursor":0,"elapsed":"853.607µs"}`

KNN being slow here??!?!

[2017-01-31 13:43] tidwall commented on #130
@tomquas I'm also finding that NEARBY KNN is slower than a NEARBY radius search. I think that this is the nature of the algorithm, but I'm going to try to do some further optimization.

What I found while implementing is that the KNN algorithm is much more complicated than a standard radius search because it needs to analyze the bounding rectangles based on proximity to the target point, and then

[2017-01-31 14:04] tomquas commented on #130
@tidwall i'm not disappointed at all ;)

KNN ist still tremendously useful for my use case considering the big picture: instead of transferring lots of unused data between the database and application logic – usually over network – and burning cpu for filtering data, it's much better to process the data where it stays, namely in or very, very close to the database.

thanks again for implementing K

[2017-01-31 14:05] tidwall commented on #130
@tomquas Thanks for the good grade!

[2017-02-05 19:16] mkorolyov opened #140 "Expose tile38 server API"
Hi!

Thanks for such a great peace of work!

Are you planning to expose golang API so tile38 could be injected directly to existing server/app as a dependency?

There is a way to use tile38 in such way, e.g use redis client and point it to same host but msg serialization/desiarilization, etc are excess load.

BR's
Maxim

[2017-02-05 19:49] m1ome commented on #140
@mkorolyov this is can be a problem, because Tile38 have a leader-follower replication and this ain't gonna work if you start in e.g. your application in one instance. [Replication](http://tile38.com/topics/replication/). If you need Geospatial indexes and KNN you can just use RTREE implementation, in one of my project I use it.

On other hand you can use TCP for client connection and GRPC as a we

[2017-02-05 19:50] m1ome commented on #111
@tidwall maybe we should close this?

[2017-02-05 20:25] #111 closed

[2017-02-05 20:55] tidwall commented on #140
I don't currently have plans to support Tile38 as an embeddable library. But that doesn't necessarily mean it's not possible today. Here's a discussion a while back #18 regarding using it as a library.

There are three interesting packages:
- [github.com/tidwall/tile38/geojson](https://godoc.org/github.com/tidwall/tile38/geojson)
- [github.com/tidwall/tile38/index](https://godoc.org/github.com/tid

[2017-02-06 05:42] phulst commented on #101
it would be great if you could link to my node library in your docs as well!
https://github.com/phulst/node-tile38

[2017-02-06 06:20] mkorolyov commented on #140
@tidwall thanks, it is a good start point, but i need hooks too. Seems like part of functionality is mixed in controller itself.

[2017-02-06 11:00] tidwall commented on #101
@phulst Absolutely. I just added it to the README. If you have basic example code, I can add it to the [Wiki](https://github.com/tidwall/tile38/wiki) too.

[2017-02-06 11:03] tidwall commented on #140
@mkorolyov You're right. The hooks are wired into the base controller. It's much more complicated to expose webhooks and geofencing because they are a part of pipeline that includes the network, goroutines, and the disk.

[2017-02-06 20:03] phulst commented on #101
thanks. There are a bunch of examples in the readme, but I will also be adding some examples as runnable code here:
https://github.com/phulst/node-tile38/tree/master/examples
Feel free to copy that to the Wiki, or refer back to my repo.

[2017-02-07 11:04] tidwall opened #141 "Distances for geofences"
The DISTANCE keyword output the distance of an object for the NEARBY command. It works with standard queries, but does not output for geofences when the FENCE keyword is specified.

This works:
[code]

This does not:

[code]

The "distance" field should appear at the same level as "hello" and "object".

I suspect that the reason is [distance calculation](https://github.com/tidwall/tile38/blob/0429

[2017-02-08 04:35] icewukong opened #142 "Support searching from Muti JSON documents ?"
For example:
[code]
I want to return the object that it's "prop0" equal "value1",with a command:
`JSEARCH key MATCH path`
e.g.
`JSEARCH roads MATCH properties.#[prop0=="value1"]#`

[2017-02-08 04:47] tidwall commented on #142
It's possible, but it would be slow. An O(n) operation. Would that be OK?

[2017-02-08 05:42] icewukong commented on #142
How about to create a index,like buntdb?
Despite this will expose the concept of the index.

[2017-02-08 05:53] icewukong commented on #142
BTW,
Is the SEARCH operation on type STRING  a O(n) operation?

[2017-02-08 05:57] tidwall commented on #142
No, the STRING type goes into a Btree. It's in binary order. O(log n)
We may be able to add a command for creating indexes for collections. Similar to [SETINDEX](https://github.com/tidwall/summitdb/wiki/SETINDEX) in SummitDB.

[2017-02-08 06:03] icewukong commented on #142
That would be best！

[2017-02-08 06:11] tidwall commented on #142
All right. I'll investigate further. Thanks for you input.

[2017-02-08 10:30] mkabischev opened #143 "Broken hook data"
When we set initial coordinates for some object and these coordinates belongs to subscribed region data for _inside_ hook is broken.

Steps to reproduce.
1. In first terminal
[code]
2. In second terminal
[code]

Then in first terminal:
[code]

Second hook contains duplicated keys from first hook: command, group, detect.

[2017-02-08 10:30] mkabischev commented on #143
Fix is simple, I`ll create PR in few minutes.

[2017-02-08 10:49] kcech commented on #109
Useful feature indeed. +1!

[2017-02-08 18:05] m1ome commented on #109
I can try to implement this on next week.

[2017-02-08 18:20] ywadi opened #144 "Geofence on GeoJSON not working"
I am facing what seems to be a bug
I am not able to geofence on an OBJECT

`NEARBY fleet FENCE OBJECT {"type":"Polygon","coordinates":[[[-111.9787,33.4411],[-111.8902,33.4377],[-111.8950,33.2892],[-111.9739,33.2932],[-111.9787,33.4411]]]}
`
I get (error) invalid argument 'OBJECT'
It seems like a bug, or I might be missing something as I cant find anything like it in documentation

[2017-02-08 18:24] ywadi commented on #144
Bounds seem to cause the same issue

[2017-02-08 18:24] tidwall commented on #144
The NEARBY command is only valid for the POINT type. Alternatively you can use the WITHIN or INTERSECTS.

[2017-02-08 18:25] ywadi commented on #144
Ok I think the documentation needs update then, as it says

[2017-02-08 18:36] tidwall commented on #144
The standard search commands are [NEARBY](http://tile38.com/commands/nearby), [WITHIN](http://tile38.com/commands/within), or [INTERSECTS](http://tile38.com/commands/intersects).

NEARBY is for points with a radius in meters, and WITHIN/INTERSECTS are for objects and boundaries.

The FENCE keyword can be added to a standard search to turn it into a geofence.

For example,
[code]
will return all ob

[2017-02-08 18:56] ywadi commented on #144
Got it, I guess just got confused around this. Thanks for the clarification

[2017-02-08 18:56] #144 closed

[2017-02-08 19:00] tidwall commented on #144
👍  The commands are confusing and I agree that a clearer description would be helpful.

[2017-02-09 10:23] UriHendler opened #145 "clients not being cleaned up properly"
When the TCP connection is dropped from the client side, Tile38 still keeps the client in its list of connections.

Here's an example when using tile38-cli:

1. Start new client
The Tile38 log shows the connection:
`2017/02/09 09:32:22 [DEBU] opened connection: 1.2.3.4:3086`

2. Let the client be idle for a minute or two. This causes the connection to timeout (not sure where this is set).
3. Send

[2017-02-09 16:03] tidwall commented on #145
I tried your instructions but I haven't been able to reproduce. I waited 10 minutes.

There aren't any timeouts defined on the Tile38 server-side. It's pretty basic actually. Just a [listen/accept](https://github.com/tidwall/tile38/blob/master/controller/server/server.go) pattern.

Could you provide some details on your environment? If I can reproduce, then I can watch the packets on wire and see

[2017-02-09 16:04] tidwall commented on #145
In fact, I think we should just add keepalives.

[2017-02-09 16:07] tidwall commented on #145
I'm marking this issue as a bug, because the server should be responsible for managing it's connections, and TCP keepalives were created for this purpose.

TODO: Add TCP keepalives after the server accepts a tcp connection. Set the default period to 300 seconds. Add a config option to define the period duration.

[2017-02-09 16:13] #143 closed

[2017-02-09 16:13] tidwall commented on #143
Thanks a ton for the fix!

[2017-02-09 17:10] tidwall commented on #145
I just pushed an update to the master branch which should address this issue. Please test again and let me know. Thanks.

[2017-02-13 11:58] marinoaldi commented on #109
That sounds good! +1

[2017-02-15 13:48] fgt-opentrends commented on #109
Waiting Anxiously! +1

[2017-02-16 22:31] claflico opened #149 "How to configure, backup, automate, etc?"
As the DevOps side of a development team that is looking to incorporate this into their project I have a few questions.

Is there a way to have a config file outside of the data directory so that we can configure settings such as data directory, log file location, authentication, replication, etc. using our config management tools such as puppet or chef?

How do we back this up? Is there a way to

[2017-02-16 22:53] tidwall commented on #149
Hi Cory,

There isn't currently an option to load a config file from a different directory. Right now everything resides in the data directory. The log is written to stderr.

The `data/appendonly` file contains all of the data. It's safe to copy this file at any time for backup. I recommend gzipping ahead of time. To restore, just put the appendonly file back into place and start the server. To mi

[2017-02-20 17:27] m1ome commented on #109
Tomorrow I will start working on this issue.
Sorry guys, was sick for a week. FeelsBadMan.

Try to implement this one ASAP.
Using Sarama.

[2017-02-20 19:50] tidwall commented on #53
I'm closing this issue for now. Thanks for the suggestions and your help.

[2017-02-20 19:50] #53 closed

[2017-02-21 15:37] Lars-Meijer commented on #101
I've written an example for Java using lettuce. I hope this helps people as it took some time to figure out how to use lettuce for tile38.

You can find it here:
https://github.com/lars-meijer/tile38/wiki/

[2017-02-21 15:56] tidwall commented on #101
@Lars-Meijer Thanks for the code examples. I think it'll help a lot.

[2017-02-21 15:58] tidwall commented on #101
@phulst I added some example code the `node-tile38` library. I pulled it from the examples/ directory. I didn't test it. Let me know if it needs any fixing. Thanks!

[2017-02-21 16:12] tidwall commented on #145
@UriHendler I ran a few tests pulling over physical networks using cat-5 by hot unplugging cables and watching timeouts. The keepalive code seems to behave well.

I'm closing this as fixed for now. Feel free to reopen if you see any problems.

Thanks for you help!

[2017-02-21 16:12] #145 closed

[2017-02-21 16:14] tidwall commented on #130
I'm closing this feature as completed. Feel free to reopen this issue if problems arise. Thanks!

[2017-02-21 16:14] #130 closed

[2017-02-21 17:43] m1ome commented on #149
@tidwall maybe we should add some of this into doc's?

[2017-02-21 17:46] tidwall commented on #149
@m1ome agreed. I'll keep this open for now.

[2017-02-21 17:53] m1ome commented on #149
@tidwall awesome.

[2017-02-21 22:03] phulst commented on #101
looks great, thanks for adding this to your docs.

[2017-02-22 04:05] phulst commented on #101
btw you may want to make mention of the node-tile38 library here too: http://tile38.com/clients/

[2017-02-22 04:12] tidwall commented on #101
@phulst will do. Thanks for reminding me.

[2017-02-22 11:06] Lars-Meijer commented on #101
I just noticed my sample code is missing an import, you can add this line after the second import to fix it:

import com.lambdaworks.redis.api.sync.RedisCommands;

[2017-02-22 17:00] tidwall commented on #101
@Lars-Meijer fixed. 👍

[2017-02-23 00:20] phulst opened #150 "within live fence with detect=inside doesn't trigger event for new object"
open one CLI and start a live fence:
[code]

now send a coordinate within the given bounds from a second CLI:
[code]

The live fence doesn't trigger an event. If you send the same SET command a second time, the live fence does receive an event.
Note that if I use detect=enter, the event does trigger immediately with the first SET command for a new object.

This only appears to be an issue when usi

[2017-02-23 00:26] phulst commented on #150
also note that when I use "detect enter,inside"  in the above example, I do get a event for both inside and enter, even when the object did not previously exist. When testing with just 'detect inside', I get nothing for the first SET.

[2017-02-23 00:32] tidwall commented on #150
I can confirm that this is happening for me too. Thanks for reporting.

[2017-02-23 08:53] Lars-Meijer commented on #54
Is someone still working on benchmarks? It may be useful to look into the Redis benchmark tool as mentioned earlier. [source](https://github.com/antirez/redis/blob/unstable/src/redis-benchmark.c)

And speaking about performance, is there any interest in maintaining [redis-gis](https://github.com/tidwall/redis-gis), and do you have any idea how it stacks up agains Tile38 especially in adding data t

[2017-02-23 14:23] tidwall commented on #54
@Lars-Meijer

Yes, it's a work in progress but @m1ome is maintaining the brand new [tile38-benchmark](https://github.com/m1ome/tile38-benchmark) project. I haven't spent much time with it yet. It's built in Go and is focused specifically on Tile38 commands.

The `redis-benchmark` is quite good. I use it all the time for my other projects ([Redcon](https://github.com/tidwall/redcon), [SummitDB](htt

[2017-02-23 15:02] Lars-Meijer commented on #54
Thanks for the quick response. I ran the benchmarks and they seem to indicate that tile38 can process much more requests than what I saw originally, looks very promising.

[2017-02-24 14:05] #20 closed

[2017-02-24 14:05] #141 closed

[2017-02-24 14:05] #150 closed

[2017-02-24 14:26] olevole commented on #20
Thank you very much!

[2017-02-24 14:41] tidwall commented on #20
You're welcome and sorry about the delay.

[2017-03-02 02:49] GameFreedom opened #151 "JSET issue"
Hello,
First.I follow the orders,`localhost:9851/jset+a+b+1+1`
Then,I follow the orders again,`localhost:9851/jget+a+b`
Returned the following results：`{"ok":true,"value":"{\"1\":\"1\"}","elapsed":"0s"}`.
Among them, the backslash escapes is much more at a time？

[2017-03-02 09:05] m1ome commented on #151
@GameFreedom JSON you provided is a valid. Could you provide additional information about issue you have?

[2017-03-02 09:06] m1ome commented on #151
And BTW http endpoint is deprecated right now and will be disabled by default in future releases.

[2017-03-02 10:10] tidwall commented on #151
@GameFreedom This is the correct behavior.

The "JSET a b 1 1" command will create the JSON document:

    {"1":"1"}

In order to store this value as a string in Tile38, it must be escaped:

    "{\"1\":\"1\"}"

You must then retrieve this value as an unescaped string using the JSON library for your programming language.

[2017-03-02 15:28] m1ome commented on #109
Guys, can you please dive into issue and say if it fit's your requirements?
I don't work with Kafka a lot, and i need your help if this PR contains all stuff you need?

[2017-03-05 01:04] thisisaaronland opened #153 "Question: What is the RESP endpoint returning (or maybe just how) ?"
It's entirely possible that I am just glossing over something obvious but for the life of me I can't figure out what's being returned when I send a `INTERSECTS` command over the RESP endpoint using the `redigo` package:

https://github.com/whosonfirst/go-whosonfirst-tile38/blob/bboxd-resp/client/resp.go#L81-L94

Specifically I am getting back a `[]interface{}` response but I am not sure what its t

[2017-03-05 02:41] tidwall commented on #153
The output is a bit convoluted and redigo stores the response as a combination of []interface{} and strings. I'll put a little effort into documenting it.

But if what you are looking for is a JSON document, then I recommend sending the server the `OUTPUT json` command immediately after connecting.

Something like this:

[code]

[code]

Now everything the server returns will be a JSON response.

[2017-03-05 22:56] thisisaaronland commented on #153
Perfect, thanks!

[2017-03-05 22:56] #153 closed

[2017-03-06 20:23] tidwall commented on #109
Kafka endpoints are now supported in the master branch! 🎉

@m1ome Thanks a ton for your help!

[2017-03-07 06:35] m1ome commented on #109
@tidwall hooray!
![happy](https://media.giphy.com/media/l46CkATpdyLwLI7vi/giphy.gif)

[2017-03-07 06:37] m1ome commented on #106
@tidwall researching it right now. Trying to implement PoC compatible with geobuf.

[2017-03-07 06:41] m1ome commented on #71
@tidwall do we still need this one? It looks like all stuff are done to help memory opts?

[2017-03-07 09:08] Lars-Meijer commented on #71
I might be mistaken but, after a flushdb command, the AOF can be thrown away right (or maybe renamed to appendonly.bak)?
Its not really that important but maybe just a quality of life improvement if someone is gonna work on this.

[2017-03-07 13:24] tidwall commented on #106
@m1ome This one could be a big win.

If the PoC works out what do you think about just having a new [output format](http://tile38.com/commands/intersects/#output-formats) to GET/SET and the search commands, perhaps named GEOBUF(S) or GBOBJECT(S).

[2017-03-07 13:37] tidwall commented on #71
@m1ome I agree that there's not much more we can do as it stands today.

@Lars-Meijer Good idea. A FLUSHDB should simply shrink the the AOF to an empty file or trigger an autoshrink in the background #74.

[2017-03-07 13:38] #151 closed

[2017-03-07 13:39] tidwall commented on #151
@GameFreedom I'm closing this issue for now, but feel free to reopen if you have further questions on the output format.

[2017-03-07 14:22] m1ome commented on #106
@tidwall i am currently looking up into protobuf, never worked with it. If we have PoC I think have a GEOBUF format can be pretty easy.

[2017-03-07 15:07] tidwall opened #154 "MQTT Webhook Endpoints"
Make Tile38 more IoT friendly by adding `SETHOOK` support for [MQTT](http://mqtt.org/). #29

[2017-03-07 15:13] tidwall commented on #29
The Go Plugins isn't as great as I hoped. It's not cross platform and requires `cgo` attributes. For now we'll need to stick with current process of adding new hooks. The recent [Kafka PR](https://github.com/tidwall/tile38/pull/152) is good example.

I do think we should add MQTT support though and added a feature request to #154.

[2017-03-07 15:13] #29 closed

[2017-03-07 15:18] tidwall commented on #63
I'm closing this issue for now. If you have any further ideas around this topic, please feel free to reopen.

On a side note, we recently added [KNN support](https://github.com/tidwall/tile38/commit/04290ec535aed0e6dbeb48ef8cbadaaf92591a8e), which can help minimize the number of results in some cases.

[2017-03-07 15:18] #63 closed

[2017-03-07 15:21] tidwall commented on #65
I'm closing this issue for now. If you have further questions or thoughts, please feel free to reopen this issue.

We'll continue to investigate further ways to increase performance around data loading.

[2017-03-07 15:21] #65 closed

[2017-03-07 16:59] m1ome commented on #154
@tidwall wanna me jump on it?

[2017-03-07 17:42] tidwall commented on #154
@m1ome Go for it.

[2017-03-07 18:03] m1ome commented on #154
@tidwall PoC ready will submit PR ASAP

[2017-03-07 18:06] tidwall commented on #154
@m1ome whaaaat?  that was quick. 👍

[2017-03-08 13:56] Lars-Meijer opened #156 "Expiry performance"
I have a question about the automatic expiry of keys.

More specifically I am interested in knowing what performance impact it has if I have a lot (say for example 5 million) of points that all have an expire time?
Is the implementation based on Redis implementation of Expire? (https://redis.io/commands/expire#how-redis-expires-keys)?
And what if I access a key that is expired but has not yet been

[2017-03-08 14:39] m1ome commented on #156
@Lars-Meijer you can look upon code: [this lines](https://github.com/tidwall/tile38/blob/73fd3cf7ded029f2b1bfa928f633224b5a466ef4/controller/expire.go#L55-L57) all stuff runs every 200 ms but we don't have any guarantee about release time. I mean it can be us or can be even close to ms.

All code just runs "DEL" command but without overhead based on server-client interaction.

[2017-03-08 14:52] Lars-Meijer commented on #156
@m1ome Yeah I saw that, but it seems to me like checking 5 (as in the example) million keys 5x a second would be a huge performance hit. But maybe I am misinterpreting the code.

From the sleep 100 milliseconds it also seems to me that this happens 10x every second (dispite what the doc says), but again, I might be mistaken there.

[2017-03-08 14:54] tidwall commented on #156
That's a good question. I don't have performance metrics around expirations. Though I would expect  that 5 million points with all having TTLs shouldn't be a problem in most cases.

The Tile38 implementation is roughly based on Redis, but it's performance is not as good. This is primarily because Tile38 uses a background routine that cleans up expired keys using a locking strategy that makes use o

[2017-03-08 15:05] Lars-Meijer commented on #156
Maybe it is a possibility to make the background scan timeout configurable as a quick "fix" if the background scan every 100ms becomes a problem. I haven't really tested performance of this myself either. For my use case clean-up within 100 ms is more than adequate, I would be fine with cleanup every second or even every few seconds.

I will let you know if I run into any problems.

[2017-03-08 15:05] tidwall commented on #156
@Lars-Meijer I agree that there may be slow down with the frequency of expire checks times the number of items.

There's quite a few optimizations that can be done to increase performance.

Such as using an ordered list like a btree for the queue instead of hashmap. This would decrease the performance a little on the `SET`, but it would help tremendously on the expire routine. We could also have a

[2017-03-08 15:08] tidwall commented on #156
@Lars-Meijer Sounds good. If you run into performance issues, please let us know right away. I'm sure we could make some tweaks to get it to work for you.

[2017-03-08 15:27] Lars-Meijer commented on #156
Using some ordered datastructure might be able to speed up the process. SET is now already O(Log n) operation right? An insert into a btree or some other ordered data structure is most likely also O(Log n) and can happen in parallel, so there would not be too much of a performance hit.

[2017-03-08 15:36] tidwall commented on #156
There's the collection list which stores all the objects by id. This is a btree and is O(logn).
Then there's the spatial index which is an rtree O(logMn).
So an additional btree would slow it down a little bit on SETs that have TTLs.

[2017-03-08 15:46] Lars-Meijer commented on #156
Thanks for clarification. We should keep this in mind if I run into trouble.

The list would be ordered by expiry time right?

[2017-03-08 15:49] tidwall commented on #156
Correct, ordered by expiry time.

[2017-03-08 16:03] Lars-Meijer commented on #156
Wouldn't this cause problems when updating a key?
Say you have truck1 with a 60 second TTL, and update it 30 seconds later, again with a TTL of 60 seconds. This would mean that the old value would have to be removed and this would be O(n)?

[2017-03-08 16:22] tidwall commented on #156
I don't think it'll be a problem. The expiry list will only contain the key and timestamp pair. The timestamp will be expiration at the time that it was added to the list. Thus we could have multiple pairs with the same key but different timestamps, if additional SETs with the same key were called too soon.

When we arrive at a pair that has an elapsed expiration, we'll delete it from the expiry l

[2017-03-09 08:09] Lars-Meijer commented on #156
Ah, that makes sense. that would work then 👍

[2017-03-11 02:15] paavalan opened #157 "RabbitMQ Webhook Endpoints"
Make Tile38 RabbitMQ friendly by adding SETHOOK support for RabbitMQ

[2017-03-11 09:52] m1ome commented on #157
@paavalan RabbitMQ have a lot of stuff under the hood, like options to send a message to queue. It can be exclusive queue, message can be mandatory or immediate.

I can prepare PR using reasonable default configuration for all stuff AMQP/RabbitMQ have. But need some time to research what default's should be for tile38 and implement this.

@tidwall what do you think?

[2017-03-11 10:02] m1ome opened #158 "Kafka webhook docs"
Before release we definitely should update docs according to new Kafka endpoint

@tidwall

[2017-03-11 18:55] tidwall commented on #158
👍 I'm on it. Thanks for reminding.

[2017-03-11 18:59] tidwall commented on #157
@m1ome That sounds like a good strategy. This is the first request for RabbitMQ that I can recall.
@paavalan would you help with verifying the configuration if we put together a PR? You input would be great.

[2017-03-11 20:43] tidwall commented on #29
@jeremytregunna Not sure if this is still something you're interested in but there's a MQTT PR in the pipeline #155. Any feedback would be greatly appreciated. Thanks!

[2017-03-12 20:11] m1ome commented on #157
@tidwall I will submit a PoC PR in a few days, working on it.

[2017-03-14 05:13] paavalan commented on #157
@m1ome we can add geofence output RabbitMQ topic/queue.
@tidwall thanks for consideration for adding RabbitMQ

[2017-03-14 07:04] m1ome commented on #157
@paavalan look up to PR #159 and say if it fits your needs. Default values described.

[2017-03-14 08:51] Lars-Meijer commented on #54
I did some measurements on the memory usage of Tile38 by placing a number of points within roughly the bounding box of The Netherlands with a random 15 digit key, I used the Server command to check the memory usage, then ran "GC" and measured again.

| Number of points |	Usage/point  |	Total | U/p After GC |
| ------------- | ------------- | ------------- | ------------- |
| 10,000	| 416 B |	3.97

[2017-03-14 15:36] tidwall commented on #54
Your explanation is on track.

Tile38 is a static executable and the entire executable is loaded into memory (~4MB). As more points are added the memory usage will level out.

Tile38, which uses the Go runtime, hangs on to memory for as long as possible. The memory will eventually be released, but when this happens depends on factors like how often the Go memory allocator reuses the memory pages,

[2017-03-15 01:35] icewukong opened #160 "How to store XYZ tiles in tile38?"
Hi, @tidwall
The official website says support for XYZ tiles.
How to store and get XYZ tiles in tile38 ,Can you give an example ?

[2017-03-15 08:11] m1ome commented on #160
@icewukong you should probably use "Z coordinate" for a such things as altitude and something like that. Look here: [SET COMMAND](http://tile38.com/commands/set/).

You can also use **Z** coordinate in queries, such as NEARBY, WITHIN and e.t.c.

[2017-03-15 10:33] Lars-Meijer commented on #160
As far as I know you cannot "store" XYZ tiles, you can only search within XYZ tiles.
"All object types except for XYZ Tiles and QuadKeys can be stored in a collection. XYZ Tiles and QuadKeys are reserved for the SEARCH keyword only."
See documentation: http://tile38.com/topics/object-types/

If you want to search within a xyz tile you can use the following commands:
Firstly, set a point (this one

[2017-03-15 16:14] tidwall commented on #160
@Lars-Meijer

I agree and thanks for the suggestion.

[2017-03-16 00:30] icewukong commented on #160
@tidwall ,@m1ome ,@Lars-Meijer
I know that and try it, thank you!

[2017-03-16 08:08] m1ome commented on #160
@icewukong you are welcome.

[2017-03-16 09:28] Feralus opened #161 "Within reversed?"
Hi, @tidwall,

i am new to your awesome looking spatial database and have some questions. Have you more specific and technical documentations, besides those on your website? Is there a way to use the within command the other way around? On your documentation it says: "WITHIN searches a collection for objects that are fully contained inside of a specified bounding area." But I want to check if a po

[2017-03-16 19:40] tidwall commented on #161
Hi @Feralus,

I think in your case you may want to use the INTERSECTS command.

So let's say you have two bounding areas in the collection `boxes`

[code]

And you want to see which boxes fully contain a point. Here we'll use the lat lon `12,13` and translate the point into a bounding area.

[code]
... will return `box1`

[code]
... will return both boxes.

[2017-03-17 10:35] Lars-Meijer opened #162 "Time complexity of operations"
@tidwall

I think you have a good grasp of the (avarage/estimated) time complexity of operations. I think it would be a good idea to document these in the commands section. This would be especially useful for: SET, GET and the search commands. It might also be useful for FSET, JSET, KEYS ect.